
<div id="myCarousel" class="carousel slide first-fixed-block " data-interval="3000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="background-slide background-slide-1"></div>
      <img class="none-max-width n-bg-sl" src="/images/service/eveningTao.jpg">
      <div class="row slide-1 captions">
        <div class="col-md-5 col-sm-5 col-xs-5 margin-slide">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-11 margin-slide slide-1">
          <div class=" slide-1-block-background slide-1-block-background-company">
            <h1>Единство ИТ и бизнеса{{SecondPage_Slider_Title| translate}} </br></h1>
            <p>ИТ-инфраструктура дает бизнесу конкретные выгоды и требует вложений. Важно соблюсти баланс между эффектом и расходами. Мы помогаем компаниям оптимизировать ИТ-инфраструктуру, реализуя комплексные услуги ИТ-аутсорсинга{{SecondPage_Slider_Text| translate}} </p>
          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button ng-click="openDetails()" class=" form-control btn-full-blue">Отправить запрос{{SecondPage_Slider_Btn_1 |translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ncy-breadcrumb class="breadcrumb-header"></div>
<div class="row block-default none-row">
  <h4 class="rubric it-title">{{SecondPage_Icons_Title | translate}}</h4>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center" ng-class="{'act':state=='business'}">
    <div ng-click="Filter('business')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">Программные рещение{{SecondPage_Icons_Btn_ICO_1|translate}}</div>
  </div>
  <div ng-click="openDetails()" class="col-md-4 col-sm-4 col-xs-10 pointer text-center" ng-class="{'act':state=='mobile'}">
    <div ng-click="Filter('mobile')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">Телекоммуникации{{SecondPage_Icons_Btn_ICO_2|translate}}</div>
  </div>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center " ng-class="{'act':state=='it'}">
    <div ng-click="Filter('it')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">ИТ-услуги{{SecondPage_Icons_Btn_ICO_3|translate}}</div>
  </div>
</div>
<div class="none-row block-default company" >
  <div ng-show='state=="all" || state=="it" ' class=" block-comment">
    <h3 class="title-h">Модернизация ИТ-инфраструктуры ОАО «Технобанк»</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/service/tehno-bank.jpg" style="height: 220px; width: 100%">
          <div class="img-footer-implementation" >
            <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
          </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': first, 'box-implementation':!first }">
            <img class="img-relative" src="images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b> ОАО «Технобанк»{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Начавшая развитие с основания банка ИТ-инфраструктура перестала соответствовать современным требованиям. Устаревшая и неоднородная, она оказывала влияние на работу всей организации,
              вызывая потери в качестве услуг и увеличение временных затрат на проведение операций из-за сбоев и поломок.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Оптимизировать работу банка, снизить ИТ-издержки.</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">Провести за 6 месяцев работы по модернизации ИТ-инфраструктуры без вмешательства в регламент банка  — в выходные дни и ночное время.</p></br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">Обновленное оборудование и реконструированная отказоустойчивая ИТ-инфраструктура, дополненные резервным каналом связи, призваны
              обеспечить эффективную работу банка в соответствии с текущими потребностями бизнеса.</p></br></br>
            <p class="goal-p"><b>Этапы работ</b></p></br></br>

            <p class="goal-p">
              <ol class="olli">
                <li><p><span>Проведение ИТ-аудита информационной системы предприятия: оценка и обследование существующей инфраструктуры и информационных сервисов</span></p></li>
                <li><p><span>Подготовка документированного отчета — обоснования для проведения реконструкции ИТ-инфраструктуры</span></p></li>
                <li><p><span>Разработка и согласование технического проекта</span></p></li>
                <li><p><span>Установка и настройка оборудования, создание отказоустойчивой инфраструктуры в соответствии с рекомендациями</span></p></li>
                <li><p><span>Реализация комплексной системы мониторинга ИТ-инфраструктуры с разработкой и согласованием перечня оборудования, контролируемых параметров на базе программного продукта ZABBIX (продукт open source) на серверных мощностях клиента</span></p></li>
              </ol>
            </p>
          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!first" ng-click="DetailsOpen('first')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
      <!--<div class=" col-md-5"></div>-->
      <!--<div class="col-md-3">-->
        <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div ng-show='state=="all" || state=="it"' class=" block-comment">
    <h3 class="title-h">Услуги ИТ-аутсорсинга для «АСД-Техника»</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/service/asd.jpg" style="height: 220px; width: 100%">
          <div class="img-footer-implementation" >
            <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
          </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': second, 'box-implementation':!second }">
            <img class="img-relative" src="../../../images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b>«АСД-Техника»{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Компания, специализирующаяся на разработке технологий и производстве оборудования в области дозации,
              смешения и изготовления изделий из полимерных материалов. {{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Стабильная и эффективная работа предприятия независимо от смены сотрудника на должности системного администратора; передача работ по поддержке,
              обслуживанию и модернизации ИТ-инфраструктуры авторитетной компании на долгосрочный период.</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">Оказание услуг по технологическому сопровождению ПО,
              вычислительной и офисной технике — аутсорсинг ИТ-функций.</p></br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">Налаженная работа ИТ-инфраструктуры предприятия, мониторинг ее состояния,
              подтверждаемый ежемесячными отчетами специалистов.</p></br></br>
            <p class="goal-p"><b>Этапы работ</b></p></br></br>

            <p class="goal-p">
              <ol class="olli">
                <li><p><span>Модернизация и техническое сопровождение средств вычислительной техники</span></p></li>
                <li><p><span>Резервное копирование информации</span></p></li>
                <li><p><span>Настройка и сопровождение оборудования и программного обеспечения на рабочих  местах</span></p></li>
                <li><p><span>Консультация пользователей по вопросам функционирования средств вычислительной техники</span></p></li>
                <li><p><span>Мониторинг и устранение неисправностей ИТ-инфраструктуры предприятия</span></p></li>
                <li><p><span>Подготовка ежемесячных актов сдачи / приемки работ / услуг</span></p></li>
              </ol>
            </p>

          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
      <!--<div class=" col-md-5"></div>-->
      <!--<div class="col-md-3">-->
        <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div ng-show='state=="all" || state=="it"' class="block-comment">
    <h3 class="title-h">Разработка ИТ-стратегии для СООО «ЛЛК-НАФТАН»</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/service/naftan.jpg" style="height: 220px; width: 100%">
          <div class="img-footer-implementation" >
            <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
          </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': third, 'box-implementation':!third }">
            <img class="img-relative" src="../../../images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b> СООО «ЛЛК-НАФТАН»{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Крупнейшее комплексное производство присадок к маслам на постсоветском пространстве.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Реализовать программу «Офис высокой доступности».</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">Провести ИТ-аудит ИТ-инфраструктуры и разработать техническое решение по модернизации</p></br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">Подготовленная  ИТ-стратегия по реализации программы «Офис  высокой доступности»</p></br></br>
            <p class="goal-p"><b>Этапы работ</b></p></br></br>

            <p class="goal-p">
              <ol class="olli">
                <li><p><span>Комплексный ИТ-аудит инфраструктуры компании</span></p></li>
                <li><p><span>Определение требований к ИТ-инфраструктуре</span>
                  <ul class="classic orange-marker">
                    <li><span>внедрение отказоустойчивого кластера;{{SecondPage_About_Text_2_2_1 |translate}}</span></li>
                    <li><span>мониторинг сетевой безопасности{{SecondPage_About_Text_2_2_2 |translate}}</span></li>
                    <li><span>	удаленный доступ (vpn){{SecondPage_About_Text_2_2_3 |translate}}</span></li>
                    <li><span>резервное копирование{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
                    <li><span>аварийное восстановление{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
                    <li><span>внедрение IP-телефонии{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
                  </ul>
                </p></li>
              </ol>
            </p>

          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!third" ng-click="DetailsOpen('third')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
      <!--<div class=" col-md-5"></div>-->
      <!--<div class="col-md-3">-->
        <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div ng-show='state=="all" || state=="it"' class="block-comment">
    <h3 class="title-h">Обслуживание ЦОД для ИООО «КАПШ Телематик Сервисиз»</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/service/beltoll.jpg" style="height: 220px; width: 100%">
          <div class="img-footer-implementation" >
            <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
          </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': fourth, 'box-implementation':!fourth }">
            <img class="img-relative" src="../../../images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b> ИООО «КАПШ Телематик Сервисиз»{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Компания, осуществляющая деятельность в сфере транспортных, телекоммуникационных, сетевых и информационных технологий,
              является оператором системы платных дорог Беларуси BelToll.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Бесперебойное функционирование системы электронного сбора платы за проезд в Республике Беларусь.</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">
              <ol class="olli">
                <li>
                  <p>
                    <span>Обеспечение бесперебойного функционирования двух ЦОД системы BelToll: обслуживание систем
                              бесперебойного электропитания и ДГУ, кондиционирования, пожаротушения,
                              систем контроля доступа и видеонаблюдения согласно требованиям стандарта PCI DSS.
                    </span>
                  </p>
                </li>
                <li>
                  <p>
                    <span>Стабильная работа телекоммуникационного ядра системы BelToll: коммутационное оборудование и каналы связи,
                      серверное оборудование, системы хранения и резервного копирования данных,
                      системы защиты и предотвращения вторжений, операционные системы и производственное программное обеспечение.
                    </span>
                  </p>
                </li>

            </ol>
            </p></br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">Четкая и стабильная работы систем за длительный срок сотрудничества, регулируемая соглашениями об уровне предоставляемого сервиса (SLA).</p></br></br>
            <p class="goal-p"><b>Этапы работ</b></p></br></br>

            <p class="goal-p">
              <ol class="olli">
                <li><p><span>Проведение инсталляционных работ и работ по конфигурированию системы перед запуском в эксплуатацию, работы по введению в эксплуатацию первого центра обработки данных</span></p></li>
                <li><p><span>Сопровождение запуска системы, последующее сопровождение функционирования системы</span></p></li>
                <li><p><span>Введение в эксплуатацию второго центра обработки данных</span></p></li>
                <li><p><span>Поддержка системы: техобслуживание и мониторинг в режиме 24/7</span></p></li>
              </ol>
            </p>

          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!fourth" ng-click="DetailsOpen('fourth')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
      <!--<div class=" col-md-5"></div>-->
      <!--<div class="col-md-3">-->
        <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div ng-show='state=="all" || state=="mobile"' class="block-comment">
    <h3 class="title-h">Разработка графических отчетов мониторинга трафика</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
        <img src="images/service/telecom_graphics.jpg" style="height: 220px; width: 100%">
        <div class="img-footer-implementation" >
          <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': fifth, 'box-implementation':!fifth }">
            <img class="img-relative" src="../../../images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b> НР Enterprises CIS{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Компания осуществляет деятельность в сфере автоматизации бизнес-процессов, в том числе для операторов мобильной связи.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Наладить мониторинг трафика оператора мобильной связи.</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">
              В кратчайшие сроки и с минимальными затратами разработать web-приложения для работы с отчетами в табличном и графическом виде.
            </p>
            </br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">Менее чем за месяц спроектировано и разработано простое и удобное приложение, позволяющее модифицировать наборы отображаемых данных без перекомпиляции. </p></br></br>
            <p class="goal-p"><b>Этапы работ</b></p></br></br>

            <p class="goal-p">
              <ol class="olli">
                <li><p><span>Выбор инструмента, максимально удовлетворяющего требованиям Заказчика</span></p></li>
            <li><p><span>Развертывание тестовой среды и наполнение ее тестовыми данными</span></p></li>
            <li><p><span>Разработка приложения в соответствии с требованиями (включая требования по аутентификации как собственной, так и через LDAP)</span></p></li>
            <li><p><span>Доработка функционала и внешнего вида согласно постоянно меняющимся требованиям</span></p></li>
            </ol>
            </p>

          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!fifth" ng-click="DetailsOpen('fifth')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
    <!--<div class=" col-md-5"></div>-->
    <!--<div class="col-md-3">-->
    <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div ng-show='state=="all" || state=="mobile"' class="block-comment">
    <h3 class="title-h">Интеграция системы контроля утечки доходов</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
        <img src="images/service/telecom_system_control.jpg" style="height: 220px; width: 100%">
        <div class="img-footer-implementation" >
          <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': sixth, 'box-implementation':!sixth }">
            <img class="img-relative" src="../../../images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b> НР Enterprises CIS{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Компания осуществляет деятельность в сфере автоматизации бизнес-процессов, в том числе для операторов мобильной связи.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Интеграция системы контроля утечки доходов (HP Revenue Leakage Control) для крупнейших операторов мобильной связи СНГ.</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">
              Установить на площадке оператора связи программный комплекс RLC и интегрировать  его с системами сбора, учета трафика и биллинга; настроить и доработать RLC с консолидацией
              в единый центр; осуществлять сопровождение и модернизацию RLC.
            </p>
            </br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">Мощная система контроля позволила крупнейшим операторам мобильной связи России, Армении и Украины уже на этапе развертывания выявить ошибки,
              ведущие к значительным финансовым потерям, и принять меры по их устранению.</p></br></br>
            <p class="goal-p"><b>Этапы работ</b></p></br></br>

            <p class="goal-p">
              <ol class="olli">
                <li><p><span>Разработка high level design documents на основании требований Заказчика </span></p></li>
            <li><p><span>Развертывание тестовой среды и наполнение ее тестовыми данными; настройка компонентов RLC в тестовой среде, тестирование комплекса </span></p></li>
            <li><p><span>Установка компонентов RLC на площадке заказчика, перенос конфигурации с тестовой среды на промышленную, интеграция с системами оператора связи </span></p></li>
            <li><p><span>Доработка функционала и внешнего вида согласно постоянно меняющимся требованиям</span></p></li>
            <li><p><span>Разработка программы ПСИ и пользовательской документации; помощь в прохождении ПСИ и сопровождение внедренной системы</span></p></li>
            </ol>
            </p>

          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!sixth" ng-click="DetailsOpen('sixth')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
    <!--<div class=" col-md-5"></div>-->
    <!--<div class="col-md-3">-->
    <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div ng-show='state=="all" || state=="mobile"' class="block-comment">
    <h3 class="title-h">Разработка новых версий системы контроля утечки доходов</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
        <img src="images/service/telecom_new_version.jpg" style="height: 220px; width: 100%">
        <div class="img-footer-implementation" >
          <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': seventh, 'box-implementation':!seventh }">
            <img class="img-relative" src="../../../images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b> НР Enterprises CIS{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Компания осуществляет деятельность в сфере автоматизации бизнес-процессов, в том числе для операторов мобильной связи.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Расширение функционала системы контроля утечки доходов (HP Revenue Leakage Control), установленной крупнейшим мобильным операторам связи СНГ.</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">
              Разработка и внедрение гибких web-ориентированных системы KPI Management и механизма сверки таблиц данных, кубов аналитической отчетности, масштабируемого высокопроизводительного агрегатора данных;
              интеграция HP Revenue Leakage Control с HP Fraud Management System.
            </p>
            </br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">За 4 года увидели свет три новых версии RLC. Все версии были введены в эксплуатацию крупнейшими операторами мобильной связи СНГ.</p></br></br>
            <p class="goal-p"><b>Этапы работ</b></p></br></br>

            <p class="goal-p">
              <ol class="olli">
                <li><p><span>Разработка high level design documents на основании требований Заказчика</span></p></li>
                <li><p><span>Разработка и тестирование программного обеспечения, включая ПО апгрейда существующих версий</span></p></li>
                <li><p><span>Разработка полного комплекта документации на английском языке</span></p></li>
                <li><p><span>Участие в проектах по установки и интеграции новых версий</span></p></li>
            </ol>
            </p>

          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!seventh" ng-click="DetailsOpen('seventh')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
    <!--<div class=" col-md-5"></div>-->
    <!--<div class="col-md-3">-->
    <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div ng-show='state=="all" || state=="mobile"' class="block-comment">
    <h3 class="title-h">Внедрение программных продуктов HP для операторов мобильной связи</h3>
    <div class="row rubric comment-white-implementations">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
        <img src="images/service/telecom_controls_revenues.jpg" style="height: 220px; width: 100%">
        <div class="img-footer-implementation" >
          <h5 class="ideas segoe-regular"><span class="narrow" style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': eighth, 'box-implementation':!eighth }">
            <img class="img-relative" src="../../../images/company/chevron.png">
            <p class="goal-p"><b>Клиент:</b> НР Enterprises CIS{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            <p class="goal-p">Компания осуществляет деятельность в сфере автоматизации бизнес-процессов, в том числе для операторов мобильной связи.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            <p class="goal-p"><b>Цель</b></p></br></br>
            <p class="goal-p">Внедрение продуктов компании HP: Internet Usage Manager (IUM), Fraud Management System (FMS), Service Manager и других для операторов мобильной связи.</p></br>
            </br>
            <p class="goal-p"><b>Задачи</b> «СиБел»</p></br></br>
            <p class="goal-p">
              Установка ПО на площадке оператора связи, интеграция ПО с другими системами, введение системы в эксплуатацию.
            </p>
            </br>
            </br>
            <p class="goal-p"><b>Результат</b></p></br></br>
            <p class="goal-p">За 7 лет было успешно компания «СиБел» запустила более 10 проектов по внедрению продуктов HP для ведущих операторов мобильной связи в странах СНГ.</p></br></br>
            <!--<p class="goal-p"><b>Этапы работ</b></p></br></br>-->

            <!--<p class="goal-p">-->
              <!--<ol class="olli">-->
                <!--<li><p><span>Разработка high level design documents на основании требований Заказчика</span></p></li>-->
                <!--<li><p><span>Разработка и тестирование программного обеспечения, включая ПО апгрейда существующих версий</span></p></li>-->
                <!--<li><p><span>Разработка полного комплекта документации на английском языке</span></p></li>-->
                <!--<li><p><span>Участие в проектах по установки и интеграции новых версий</span></p></li>-->
            <!--</ol>-->
            <!--</p>-->

          </div>
          <div class=" col-lg-5 col-md-5 col-sm-5">
            <button class="form-control btn-blue " ng-show="!eighth" ng-click="DetailsOpen('eighth')">{{SecondPage_Comments_Btn_1|translate}}</button>
          </div>
        </div>


      </div>

    </div>
    <!--<div class="row rubric comment-white-details">-->
    <!--<div class=" col-md-5"></div>-->
    <!--<div class="col-md-3">-->
    <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
    <!--</div>-->
    <!--</div>-->
  </div>

  </div>

</div>
