<ng-include src="'views/partials/service/it/_slider.html'"></ng-include>
<div ncy-breadcrumb class="breadcrumb-header"></div>
<ng-include src="'views/partials/service/it/_icons.html'" id="it"></ng-include>
<div ui-view="it"></div>

<!--<div class="row comment-white-btn"> &lt;!&ndash;todo удалилл класс rubric дает левый маргин&ndash;&gt;-->
  <!--<div class="col-md-2 col-sm-3 none-padding-left">-->
    <!--<button  ng-click="DopStateGo('.implementation')" class="form-control btn-full-blue about-first-btn ">Показать все{{SecondPage_Comments_Btn_3|translate}}</button>-->
  <!--</div>-->
<!--</div>-->
