@font-face {
  font-family: Narrow; /* Гарнитура шрифта */
  src: url(fonts/PT_Sans-Narrow-Web-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
  font-family: "SegoeUIBold";
  src: url("fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
  url("fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUIItalic"; */
@font-face {
  font-family: "SegoeUIItalic";
  src: url("fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
  url("fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
  font-family: "SegoeUILight";
  src: url("fonts/SegoeUILight/SegoeUILight.eot");
  src: url("fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
  url("fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
  font-family: "SegoeUISemiBold";
  src: url("fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
  url("fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
  url("fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
>button{
  padding-right: 10px;
  padding-left: 10px;
}
button{
  font-family: Narrow;
  overflow: hidden;
}
button.form-control{
  padding: 3px 12px !important;
  font-size: 18px !important;
}
@media screen and (min-width: 1441px){
  body{
    margin-left: 10%;
    margin-right: 10%;
  }
}
html,body { overflow-x: hidden; }
body{
  padding: 2% 0 !important;
  font-family: SegoeUIRegular;
  max-width: 1440px;
  min-width: 768px;
}
.form-control:focus {
 border-color: RGBA(255,255,255,0.4) ;
}
.dark-blue-color{
  color:rgb(4,49,77)
}
.none-margin-top{
  margin-top:0 !important;
}
/*.row {*/
  /*!* margin-left: -15px; *!*/
  /*!* margin-right: -15px; *!*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
  /*!*width: 100%;*!*/
/*}*/
.containerBlock{
  padding: 0
}
.container{
  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}


a {
  color: #000;
}
a.lang:hover{
  color: #000000;
  text-decoration: none;
}
a.press{
  color: #000000 !important;
  text-decoration: none;
}
textarea {
  resize: vertical;
}

.rubric{
  margin-left: 9.2%;
}
.carousel{
  margin-top: 0 !important;
}
.slideBackground{
  background-color: #fff;  background-size: cover;
}

.psevdoImg{
 /*width: 170.6px;*/
  /*margin-right: 10px;*/
  /*background: red;*/
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
ul{
  padding: 0;
}

img.icons{
  height: 94px
}

button.secondBlock{
  margin-left: 20% !important;
  display: block !important;
  width: 60% !important;
}
.block-default{
  padding: 2%;
  /*margin-top: 2%;*/
}
.vendor-img{
  margin-left: 34%;
  height: 96px;
  width: 96px;
}
.default-img{
  width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Make the masthead heading the same height as the navigation */
/* Custom page footer */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
ul li {
  display:inline;
  list-style-type: none;
}
.padding{
  height: 100%;
  padding: 2% 0;
}
.it-title{
  font-size: 24px;
  color:#04314D;
}
.col-it-inf h4{
  font-size: 21px !important;
}
.col-it-inf img{
  margin-bottom: 10px;
}
.col-it-inf button{
  margin-top: 18px;
}
.col-it-inf{
  text-align: center;
  margin-left: 8%;
  padding:1% 0;
}
.col-project-ideas{
  background: gainsboro;
  height: 90px;
  width: 100%;
}
.btn-project-ideas{
  margin-top: 5%;
}
.btn-blue:hover, .btn-blue:focus{
  /*color: #fff;*/
  /*background: #398be3 ;*/
  box-shadow: 3px 3px 9px 0px rgba(14, 14, 14, 0.6);
}
.btn-blue{
  color: #398be3;
  border: 1px solid #398be3 ;
  border-radius: 0;
  background-color: #fff;
}
.btn-full-blue:hover, .btn-full-blue:focus{
  /*color: #398be3;*/
  /*border: 1px solid #398be3 ;*/
  border-radius: 0;
  box-shadow: 3px 3px 9px 0px rgba(14, 14, 14, 0.6);
  padding-top: 2px !important;
  /*background: #fff ;*/
}
.btn-full-blue{
  color: #fff;
  border-radius: 0;
  background: #398be3 ;
}
.btn-orange:hover, .btn-orange:focus{
  color: #ed5623;
  /*background: #ed5623 ;*/
  border: 1px solid #ed5623 ;
  box-shadow: 3px 3px 9px 0px rgba(14, 14, 14, 0.6);
}
.btn-orange{
  color: #ed5623;
  border: 1px solid #ed5623 ;
  border-radius: 0;
}
.btn-orange-ico{
  color: #ed5623;
  border: 1px solid #ed5623 ;
  border-radius: 0;
}
.btn-orange-ico:hover, .btn-orange-ico:focus {
  color: #fff;
  border-radius: 0;
  background: #ed5623 ;
}

.btn-full-orange:hover, .btn-full-orange:focus{
  color: #fff;
  /*background: #fff;*/
  /*color: #ed5623;*/
  /*border: 1px solid #ed5623 ;*/
  border-radius: 0;
  box-shadow: 3px 3px 9px 0px rgba(14, 14, 14, 0.6);
}
.btn-full-orange{
  color: #fff;
  border-radius: 0;
  background: #ed5623 ;
}

.partnerList h3{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.partnerList{
  background: #d6d6d6;
  padding-bottom: 4%;
}
.lSSlideOuter{
  width: 80%;
  margin-left: 8%;
}
.lSSlideOuter .lSPager.lSpg>li a{
  border-radius: 0;
}
.lSAction>a {
  background-image: url(../images/icons/arow-slide.png);
  opacity: 1;
}
.pointer{
  cursor: pointer;
}
.none-row{
  margin-left: 0;
  margin-right: 0;
}
/*////padding-none////*/

.npt{
  padding-top: 0;
}
.none-padding-right{
  padding-right: 0!important;
}
.none-padding-left{
  padding-left: 0 !important;
}
.none-padding{
  padding: 0!important;
}
/*////padding-none////*/
.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.text-center{
  text-align: center;
}
