@font-face {
  font-family: Narrow; /* Гарнитура шрифта */
  src: url(fonts/PT_Sans-Narrow-Web-Regular.ttf); /* Путь к файлу со шрифтом */
}
button{
  font-family: Narrow;
}
button.form-control{
  padding: 3px 12px !important;
  font-size: 18px !important;
}
body{
  padding: 2% 0 !important;
}
.containerBlock{
  padding: 0
}
.container{
  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
footer {
  padding: 2% 4%;
}
a {
  color: #000;
}
a.lang:hover{
  color: #000000;
  text-decoration: none;
}
a.press{
  color: #000000 !important;
  text-decoration: none;
}

.rubric{
  margin-left: 9.2%;
}
.carousel{
  margin-top: 0 !important;
}
.slideBackground{
  background-color: #fff;  background-size: cover;
}

.psevdoImg{
 /*width: 170.6px;*/
  /*margin-right: 10px;*/
  /*background: red;*/
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
ul{
  padding: 0;
}

img.icons{
  height: 94px
}

button.secondBlock{
  margin-left: 20% !important;
  display: block !important;
  width: 60% !important;
}
.block-default{
  padding: 2%;
  margin-top: 2%;
}
.vendor-img{
  margin-left: 34%;
  height: 56px;
  width: 56px;
}
.default-img{
  width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Make the masthead heading the same height as the navigation */
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.borderLeftLeng{
  border-left: 1px solid #FF4500;
  padding-left: 1%;
}

ul li {
  display:inline;
  list-style-type: none;
}
.padding{
  height: 100%;
  padding: 2% 0;
}

.col-it-inf{
  text-align: center;
  margin-left: 8%;
  padding:1%;
}
.col-project-ideas{
  background: gainsboro;
  height: 90px;
  width: 100%;
}
.btn-project-ideas{
  margin-top: 5%;
}
.btn-blue:hover{
  color: #fff;
  background: #00bfff ;
}
.btn-blue{
  color: deepskyblue;
  border: 1px solid #00bfff ;
  border-radius: 0;
}
.btn-full-blue:hover{
  color: deepskyblue;
  border: 1px solid #00bfff ;
  border-radius: 0;
  background: #fff ;
}
.btn-full-blue{
  color: #fff;
  border-radius: 0;
  background: #00bfff ;
}
.btn-orange:hover{
  color: #fff;
  background: #FF4500 ;
}
.btn-orange{
  color: orangered;
  border: 1px solid #FF4500 ;
  border-radius: 0;
}
.btn-full-orange:hover{
  background: #fff;
  color: orangered;
  border: 1px solid #FF4500 ;
  border-radius: 0;
}
.btn-full-orange{
  color: #fff;
  border-radius: 0;
  background: #FF4500 ;
}
.footer-block-header{
  margin-bottom: 2%;
  font-weight: bold;
}
.ul-footer li {
  display:block;
}


