
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
ul{
  padding: 0;
}

.block-default{
  padding: 2%;
  margin-top: 2%;
}

.lightSlider{
  border:1px solid red;
}
.default-img{
  width: 100%;
}
.lang-ul{
  padding: 6% 0%;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*!* Custom page header *!*/
/*.header {*/
  /*border-bottom: 1px solid #e5e5e5;*/
  /*margin-bottom: 10px;*/
/*}*/
.navbar-default{
  background-color: #fff;
  border-color: #fff;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.borderLeftLeng{
  border-left: 1px solid black;
  padding-left: 1%;
}

ul li {
  display:inline;
  list-style-type: none;
}
.padding{
  height: 100%;
  padding: 2% 0;
}
.nav-font{
  font-size: 1em;
}
.language{
  padding: 0% 8%;
}
.col-it-inf{
  text-align: center;
  margin-left: 8%;
  padding:1%;
}
.col-project-ideas{
  background: gainsboro;
  height: 90px;
  width: 100%;
}
.footer-block-header{
  margin-bottom: 2%;
  font-weight: bold;
}
.ul-footer li {
  display:block;
}
