<div class=" rubric row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">{{SecondPage_About_Title_1 |translate}}</h2>
  <p class=" fn-sz-18 rubric" style="color: #fff">{{SecondPage_About_Text_1_1 |translate}}</p>
  <p class=" fn-sz-18 rubric" style="color: #fff">{{SecondPage_About_Text_1_2 |translate}}</p>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title">
    <h4 class="goal-title">{{SecondPage_About_Title_2 |translate}}</h4>
    <p class="goal-p">{{SecondPage_About_Text_2_1 |translate}}</p>
  </div>
  <div class="col-md-11 rubric">
    <p class="goal-p">{{SecondPage_About_Text_2_2 |translate}}</p>
    <ul class="classic orange-marker">
      <li ><span>{{SecondPage_About_Text_2_2_1 |translate}}</span></li>
      <li><span>{{SecondPage_About_Text_2_2_2 |translate}}</span></li>
      <li><span>{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
    </ul>

  </div>
  <div class="col-md-11 rubric company-goal-title">
    <h4 class="goal-title">{{SecondPage_About_Title_3 |translate}}</h4>
    <p class="goal-p">
      {{SecondPage_About_Text_3_1 |translate}}
    </p>
  </div>

</div>

<div class="none-row block-default company background-comments" >
  <div class="row rubric comment-white">
    <div class="col-md-5 padding-top-30">
      <h2 class="npt">{{SecondPage_Comments_Title |translate}}</h2>
      <em><p class="goal-p">{{SecondPage_Comments_Descriptions_11 |translate}}</p></em></br>
      <b><em><p class="goal-p">{{SecondPage_Comments_Descriptions_12 |translate}}</p></em></b>
    </div>
    <div class="col-md-5 padding-tl-30">
      <img class="img-relative" src="../../../images/company/coma.png">
      <p class="goal-p">{{SecondPage_Comments_Text_11 |translate}}
      </p>
    </div>
  </div>
  <div class="row rubric comment-white-btn">
    <div class="col-md-2 col-sm-3 none-padding-left">
      <button  ng-click="Go('.reviews')" class="form-control btn-full-orange about-first-btn ">{{SecondPage_Comments_Btn_3|translate}}</button>
    </div>
  </div>
</div>
