<div class=" rubric row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">Наша компания{{Company_Title |translate}}</h2>
  <p class=" fn-sz-18 rubric" style="color: #fff">«СиБел» входит в группу компаний «БелХард» и за 10 лет успешной деятельности в сфере системной интеграции достигла признания среди клиентов, вендеров и коллег. Возможность использовать для эффективного решения задач все ресурсы холдинга: производственные, материальные, финансовые и иные — делает сотрудничество успешным. Продвигая собственные ИТ-решения и услуги для белорусских компаний, мы помогаем бизнесу работать.
  </p>
  <p class=" fn-sz-18 rubric" style="color: #fff">
    Резидентство компании в ПВТ Беларуси подтверждает уровень предоставляемых услуг, внедрение инновационных ИТ-проектов различной сложности. Наши специалисты регулярно проходят обучение, повышают квалификацию и уровень знаний в учебных центрах IBM, Microsoft, Lotus и других, подтверждая результаты успешными сертификационными экзаменами вендоров и производителей.
  </p>
</div>
