<div class="none-row block-default company background-comments" >
  <div class="row rubric comment-white">
    <div class="col-md-5">
      <h2 class="npt">{{SecondPage_Comments_Title |translate}}</h2>
      <p class="goal-p">{{SecondPage_Comments_Descriptions |translate}}</p>
    </div>
    <div class="col-md-5">
      <p class="goal-p">{{SecondPage_Comments_Text |translate}}
      </p>
    </div>
  </div>
  <div class="row rubric comment-white-btn">
    <div class="col-md-2 none-padding-left">
      <button  ng-click="Go('.reviews')" class="form-control btn-full-orange about-first-btn ">{{SecondPage_Comments_Btn_1|translate}}</button>
    </div>
    <div class="col-md-3 none-padding-left">
      <button class="form-control btn-orange about-second-btn"  ng-click="openModal('comment')">{{SecondPage_Comments_Btn_2|translate}}</button>
    </div>
  </div>


  <!--<div class="row rubric company-blocks">-->
    <!--<div class="col-md-7 col-sm-7 col-xs-10 company-descriptions">-->
      <!--<p>-->
        <!--{{Company_Comments|translate}}-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row rubric company-blocks">-->
    <!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">-->
      <!--<button ng-click="openDetails()" class="form-control btn-full-orange about-first-btn ">{{Company_Btn_1|translate}}</button>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">-->
      <!--<button class="form-control btn-orange about-second-btn"  ng-click="openModal('summary')">{{Company_Btn_2|translate}}</button>-->
    <!--</div>-->
  <!--</div>-->
</div>
