<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title">
  <h4 class="goal-title">Наша цель{{Company_Title |translate}}</h4>
    <p class="goal-p">— стать ведущей компанией в Беларуси по предоставлению платформенных решений для бизнеса и услуг в сфере высоких технологий.<p>
 </div>
  <div class="col-md-11 rubric">
    <p class="goal-p">Мы уверены, что достигнем поставленной цели:</p>
    <ul class="classic orange-marker">
      <li ><span>мы знаем потребности нашего клиента и специфику белорусского бизнеса</span></li>
      <li><span>в нашей команде высококвалифицированные специалисты</span></li>
      <li><span>мы внедряем новые технологии</span></li>
    </ul>

  </div>
  <div class="col-md-11 rubric company-goal-title">
    <h4 class="goal-title">Наша миссия</h4>
    <p class="goal-p">— повысить рейтинг Беларуси по показателю развития информационно-коммуникационных технологий (ICT Development Index), который характеризует достижения стран с точки зрения развития ИТ-сферы, охватывающей все области создания, передачи, хранения, распространения и восприятия информации.</p>
  </div>

</div>
