<div class=" rubric row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">{{SecondPage_Time_Title_1}}</h2>
  <p class=" fn-sz-18 rubric" style="color: #fff">{{SecondPage_Time_Text_1}}
    </p>
  <p class=" fn-sz-18 rubric" style="color: #fff">{{SecondPage_Time_Text_2}}</p>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title">
    <h4 class="goal-title">{{SecondPage_Time_Title_2}}</h4>
  </div>
  <div class="col-md-11 rubric">
    <ul class="classic orange-marker">
      <li>
        <span>
          <b>{{SecondPage_Time_Head_li_1}}</b><br>
        </span>
        <span>
          {{SecondPage_Time_li_1}}
        </span>
      </li>
      <li>
        <span>
          <b>{{SecondPage_Time_Head_li_2}}</b><br>
        </span>
        <span>
          {{SecondPage_Time_li_2}}
        </span>
      </li>
      <li>
        <span>
          <b>{{SecondPage_Time_Head_li_3}}</b><br>
        </span>
        <span>
          {{SecondPage_Time_li_3}}
        </span>
      </li>
      <li>
        <span>
          <b>{{SecondPage_Time_Head_li_4}}</b><br>
        </span>
        <span>
          {{SecondPage_Time_li_4}}
        </span>
      </li>
    </ul>
    <p style="margin-top: 25px; font-size: 17px">{{SecondPage_Time_Descriptions_Text}}</p>

  </div>
  <div class="col-md-3 rubric" style="margin-bottom: 25px">
    <button class="form-control btn-orange" ng-click="openModal('summary')">{{SecondPage_Time_Btn}}</button>
  </div>

</div>

<div class="none-row block-default company background-comments" >
  <div class="row rubric comment-white">
    <div class="col-md-5 padding-top-30">
      <h2 class="npt">{{SecondPage_Comments_Title_3 |translate}}</h2>
      <em><p class="goal-p">{{SecondPage_Comments_Descriptions_31 |translate}}</p></em></br>
      <b><em><p class="goal-p">{{SecondPage_Comments_Descriptions_32 |translate}}</p></em></b>
    </div>
    <div class="col-md-5 padding-tl-30">
      <img class="img-relative" src="../../../images/company/coma.png">
      <p class="goal-p">{{SecondPage_Comments_Text_31 |translate}}
      </p>
    </div>
  </div>
  <div class="row rubric comment-white-btn">
    <div class="col-md-2 col-sm-3 none-padding-left">
      <button  ng-click="Go('.reviews')" class="form-control btn-full-orange about-first-btn ">{{SecondPage_Comments_Btn_3|translate}}</button>
    </div>
  </div>
</div>
