<div class=" rubric row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">Наша команда</h2>
  <p class=" fn-sz-18 rubric" style="color: #fff">«СиБел» — это команда талантливых специалистов, радеющих за свое дело. Мы приветствуем инициативность, творческий подход и системность.
    Каждый сотрудник «СиБел» имеет возможность проявить свой профессионализм, применить имеющиеся навыки и поделиться знаниями с коллегами.
  </p>
  <p class=" fn-sz-18 rubric" style="color: #fff">Команду направляют общие цели, а принципы корпоративной культуры сплачивают единомышленников.
  </p>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title">
    <h4 class="goal-title">Принципы команды «СиБел»:
      {{Company_Title |translate}}</h4>
  </div>
  <div class="col-md-11 rubric">
    <ul class="classic orange-marker">
      <li>
        <span>
          <b>Нацеленность на результат:</b><br>
        </span>
        <span>
          сплоченная работа команды и ответственность за принятие решений приводит к ожидаемому итогу — качественный продукт
          в заданные сроки
        </span>
      </li>
      <li>
        <span>
          <b>Контактность:</b><br>
        </span>
        <span>
          открытость и доступность обратной связи между всеми членами команды делает рабочий процесс эффективным и быстрым
        </span>
      </li>
      <li>
        <span>
          <b>Развитие и стремление к новому:</b><br>
        </span>
        <span>
          жажда новых знаний и широкий кругозор каждого сотрудника обогащают интеллектуальный багаж всей команды
        </span>
      </li>
      <li>
        <span>
          <b>Взаимоуважение и поддержка :</b><br>
        </span>
        <span>
         дружественность и внимание от всех к каждому делает рабочую атмосферу комфортной, а коллектив сплоченным. Мы — команда!
        </span>
      </li>
    </ul>
    <p><span>«СиБел»</span> активно развивается, привлекая новых талантливых, активных профессионалов. Присоединяйтесь!</p>

  </div>
  <div class="col-md-3 rubric">
    <button class="form-control btn-orange">Приглашаем в команду</button>
  </div>

</div>

