
<div class="row block-default none-row">

  <div class="col-md-4">
    <div class="blue" style="">
        <h3>Сотрудники</h3>
<p>наша главная ценность. Мы гордимся каждым и ценим достойных, предлагая оптимальные условия труда и отдыха</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/staff.png">
    </div>
    <p class="grey-footer">Сотрудники</p>
  </div>

  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>Качество</h3>
<p>мы подтверждаем качество оказываемых услуг, гарантируя их соответствие стандартам </p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/quality.png">
    </div>
    <p class="grey-footer">Качество</p>
  </div>
  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>Клиенты</h3>
<p>фокус на потребностях каждого клиента делает наши услуги уникальными. Внедряем новейшие решения для процветания бизнеса
</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/clients.png">
    </div>
    <p class="grey-footer">Клиенты</p>
  </div>
</div>
<!--TODO  второй ряд-->
<div class="row block-default none-row">
  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>Развитие</h3>
<p>каждый из команды стремится обогатить собственный багаж знаний и навыков, благодаря которым поставленные цели достигаются в кратчайшие сроки. Развиваясь сами, мы желаем благосостояния нашим партнерам</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/development.png">
    </div>
    <p class="grey-footer">Развитие</p>
  </div>
  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>Ответственный бизнес</h3>
<p>понимание ценности каждого для общества отражается в старании повысить уровень и качество жизни наших сотрудников и членов их семей; участвовать в различных программах и внедрять социально значимые проекты
</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/business.png">
    </div>
    <p class="grey-footer">Ответственный бизнес</p>
  </div>
  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>Профессионализм</h3>
<p>мы собрали команду высококвалифицированных специалистов, которых объединяет любимое дело. Стремимся быть асами в своей сфере
</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/proffi.png">
    </div>
    <p class="grey-footer">Профессионализм</p>
  </div>
</div>
