
<div class="row block-default none-row">

  <div class="col-md-4">
    <div class="grey-block">
      <div class="none-hover-1">
          <div class="overflov-h grey">
            <img class="" src="../../../images/company/staff.png">
          </div>
          <p class="grey-footer">{{SecondPage_Value_Title_1 |translate}}</p>
        </div>
      <div class="blue hover-1" style="">
          <h3>{{SecondPage_Value_Title_1 |translate}}</h3>
          <p>{{SecondPage_Value_Text_1 |translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="grey-block">
      <div class="none-hover-2">
        <div class="overflov-h grey">
          <img class="" src="../../../images/company/quality.png">
        </div>
        <p class="grey-footer">{{SecondPage_Value_Title_2 |translate}}</p>
      </div>
      <div class="blue hover-2" style="">
        <h3>{{SecondPage_Value_Title_2 |translate}}</h3>
        <p>{{SecondPage_Value_Text_2 |translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="grey-block">
      <div class="none-hover-3">
        <div class="overflov-h grey">
          <img class="" src="../../../images/company/clients.png">
        </div>
        <p class="grey-footer">{{SecondPage_Value_Title_3 |translate}}</p>
      </div>
      <div class="blue hover-3"  ng-class=" {'blue': 'touch1'}" style="">
        <h3>{{SecondPage_Value_Title_3 |translate}}</h3>
        <p>{{SecondPage_Value_Text_3 |translate}}</p>
      </div>
    </div>
  </div>
</div>
<!--TODO  второй ряд-->
<div class="row block-default none-row">
  <div class="col-md-4  ">
    <div class="grey-block">
      <div class="none-hover-4">
        <div class="overflov-h grey">
          <img class="" src="../../../images/company/development.png">
        </div>
        <p class="grey-footer">{{SecondPage_Value_Title_4 |translate}}</p>
      </div>
      <div class="blue hover-4" style="">
        <h3>{{SecondPage_Value_Title_4 |translate}}</h3>
        <p>{{SecondPage_Value_Text_4 |translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4  ">
    <div class="grey-block">
      <div class="none-hover-5">
        <div class="overflov-h grey">
          <img class="" src="../../../images/company/business.png">
        </div>
        <p class="grey-footer">{{SecondPage_Value_Title_5 |translate}}</p>
      </div>
      <div class="blue hover-5" style="">
        <h3>{{SecondPage_Value_Title_5 |translate}}</h3>
        <p>{{SecondPage_Value_Text_5 |translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4  ">
    <div class="grey-block">
      <div class="none-hover-6">
        <div class="overflov-h grey">
          <img class="" src="../../../images/company/proffi.png">
        </div>
        <p class="grey-footer">{{SecondPage_Value_Title_6 |translate}}</p>
      </div>
      <div class="blue hover-6" style="">
        <h3>{{SecondPage_Value_Title_6 |translate}}</h3>
        <p>{{SecondPage_Value_Text_6 |translate}}</p>
      </div>
    </div>
  </div>
</div>
<div class="none-row block-default company background-comments" >
  <div class="row rubric comment-white">
    <div class="col-md-5 padding-top-30">
      <h2 class="npt">{{SecondPage_Comments_Title_2 |translate}}</h2>
      <em><p class="goal-p">{{SecondPage_Comments_Descriptions_21 |translate}}</p></em></br>
      <b><em><p class="goal-p">{{SecondPage_Comments_Descriptions_22 |translate}}</p></em></b>
    </div>
    <div class="col-md-5 padding-tl-30">
      <img class="img-relative" src="../../../images/company/coma.png">
      <p class="goal-p">{{SecondPage_Comments_Text_22 |translate}}
      </p>
    </div>
  </div>
  <div class="row rubric comment-white-btn">
    <div class="col-md-2 col-sm-3 col-xs-4 col-lg-2 none-padding-left">
      <button  ng-click="Go('.reviews')" class="form-control btn-full-orange about-first-btn ">{{SecondPage_Comments_Btn_3|translate}}</button>
    </div>
  </div>
</div>
