
<div class="row block-default none-row">

  <div class="col-md-4">
    <div class="blue" style="">
        <h3>{{SecondPage_Value_Title_1 |translate}}</h3>
<p>{{SecondPage_Value_Text_1 |translate}}</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/staff.png">
    </div>
    <p class="grey-footer">{{SecondPage_Value_Title_1 |translate}}</p>
  </div>

  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>{{SecondPage_Value_Title_2 |translate}}</h3>
<p>{{SecondPage_Value_Text_2 |translate}}</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/quality.png">
    </div>
    <p class="grey-footer">{{SecondPage_Value_Title_2 |translate}}</p>
  </div>
  <div class="col-md-4  ">
    <div class="blue" ng-init="touch1" ng-click="touch1=true" ng-class=" {'blue': 'touch1'}" style="">
      <h3>{{SecondPage_Value_Title_3 |translate}}</h3>
      <p>{{SecondPage_Value_Text_3 |translate}}</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/clients.png">
    </div>
    <p class="grey-footer">{{SecondPage_Value_Title_3 |translate}}</p>
  </div>
</div>
<!--TODO  второй ряд-->
<div class="row block-default none-row">
  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>{{SecondPage_Value_Title_4 |translate}}</h3>
      <p>{{SecondPage_Value_Text_4 |translate}}</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/development.png">
    </div>
    <p class="grey-footer">{{SecondPage_Value_Title_4 |translate}}</p>
  </div>
  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>{{SecondPage_Value_Title_5 |translate}}</h3>
      <p>{{SecondPage_Value_Text_5 |translate}}</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/business.png">
    </div>
    <p class="grey-footer">{{SecondPage_Value_Title_5 |translate}}</p>
  </div>
  <div class="col-md-4  ">
    <div class="blue" style="">
      <h3>{{SecondPage_Value_Title_6 |translate}}</h3>
<p>{{SecondPage_Value_Text_6 |translate}}</p>
    </div>
    <div class="overflov-h grey">
      <img class="" src="../../../images/company/proffi.png">
    </div>
    <p class="grey-footer">{{SecondPage_Value_Title_6 |translate}}</p>
  </div>
</div>
