<div class="row block-default none-row">
  <h4 class="rubric it-title">{{Business_Icon_Title | translate}}</h4>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.complex'}">
    <img id="first-icon" class="icons animated center" src='../../images/icons/analise.png'>
    <h3><b>{{Business_Icon_icon_1_title | translate}}</b></h3>
    <p style="font-size: 16px;">{{Business_Icon_icon_1_description | translate}}</p>
    <div ng-click="Go('.complex')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">{{Business_Icon_icon_1_btn | translate}}</div>
  </div>
  <div ng-click="openDetails()" class="col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.automation'}">
    <img id="second-icon" class="icons animated center" src='../../images/icons/client_navigation.png'>
    <h3><b>{{Business_Icon_icon_2_title | translate}}</b></h3>
    <p style="font-size: 16px;">{{Business_Icon_icon_2_description | translate}}</p>
    <div ng-click="Go('.automation')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico"> {{Business_Icon_icon_2_btn|translate}}</div>
  </div>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon " ng-class="{'act':state=='.elDoc'}">
    <img id="third-icon" class="icons animated center" src='../../images/icons/optimisation_business.png'>
    <h3><b>{{Business_Icon_icon_3_title | translate}}</b></h3>
    <p style="font-size: 16px;">{{Business_Icon_icon_3_description | translate}}</p>
    <div ng-click="Go('.elDoc')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">{{Business_Icon_icon_3_btn|translate}}</div>
  </div>
</div>
