<div class="row block-default none-row">
  <h4 class="rubric it-title">«СиБел» для бизнеса{{SecondPage_Icons_Title | translate}}</h4>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.complex'}">
    <img id="first-icon" class="icons animated center" src='../../images/icons/analise.png'>
    <h3><b>Бизнес-анализ{{SecondPage_Icons_Header_ICO_1 | translate}}</b></h3>
    <p style="font-size: 16px;">Выявления их текущих и будущих потребностей рынка и заинтересованных лиц{{SecondPage_Icons_Text_ICO_1 | translate}}</p>
    <div ng-click="Go('.complex')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">Комплексные решения{{SecondPage_Icons_Btn_ICO_1|translate}}</div>
  </div>
  <div ng-click="openDetails()" class="col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.automatisation'}">
    <img id="second-icon" class="icons animated center" src='../../images/icons/client_navigation.png'>
    <h3><b>Ориентация на клиента{{SecondPage_Icons_Header_ICO_2 | translate}}</b></h3>
    <p style="font-size: 16px;">Предложения и рекомендации, способные удовлетворить реальные потребности заказчика{{SecondPage_Icons_Text_ICO_2 | translate}}</p>
    <div ng-click="Go('.automatisation')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico"> Автоматизация процессов организации{{SecondPage_Icons_Btn_ICO_2|translate}}</div>
  </div>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon " ng-class="{'act':state=='.elDoc'}">
    <img id="third-icon" class="icons animated center" src='../../images/icons/optimisation_business.png'>
    <h3><b>Оптимизация бизнеса{{SecondPage_Icons_Header_ICO_3 | translate}}</b></h3>
    <p style="font-size: 16px;">Консультирование заказчика по вопросам оптимизации его бизнес-процессов{{SecondPage_Icons_Text_ICO_3 | translate}}</p>
    <div ng-click="Go('.elDoc')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">Электронный документооборот{{SecondPage_Icons_Btn_ICO_3|translate}}</div>
  </div>
</div>
