<div id="myCarousel" class="carousel slide first-fixed-block " data-interval="3000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="background-slide background-slide-1">


      </div>
      <img class="none-max-width n-bg-sl" src="../../images/service/business.jpg">
      <div class="row slide-1 captions">
        <div class="col-lg-6 col-lg-offset-2 col-md-6 col-sm-8 col-xs-11 margin-slide slide-1">
          <div class=" slide-1-block-background slide-1-block-background-company">
            <h1>{{Business_Slider_Title| translate}} </br></h1>
            <p>{{Business_Slider_Description| translate}} </p>

          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button ng-click="Email('query')" class=" form-control btn-full-blue">{{SLIDER_BTN_2 |translate}}</button>
            </div>
            <!--<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">-->
            <!--<button class="form-control btn-orange" ng-click="openModal('query')">{{SecondPage_Slider_Btn_2 |translate}}</button>-->
            <!--</div>-->
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5 margin-slide">
        </div>
      </div>
    </div>
  </div>
</div>
