h3.ideas{
  margin-top: 0;
}
h5.ideas{
  margin-top: 1% !important;
  font-size: 14px !important;
}
.img-footer{
  width: 88%;
  height: 34px;
  padding: 6px 12px;
  font-size: 10px;
  line-height: 1.42857143;
  border-radius: 0;
  background: #8f8f8f;

}
.ideas-descriptions{
 height: 252px;
}
