h3.ideas{
  margin-top: 0;
}
h5.ideas{
  margin-top: 1% !important;
  font-size: 14px !important;
}
.ideaDetails{
  margin-top: 0% !important;
  font-size: 16px !important;
}
.img-footer{
  width: 330px;
  height: 34px;
  padding: 6px 12px;
  font-size: 10px;
  line-height: 1.42857143;
  border-radius: 0;
  background: #8f8f8f;

}
.ideas-descriptions h3{
  margin-bottom: 6%;
}
.ideas-descriptions p{
  font-size: 16px;
}
.ideas-descriptions{
  height: 240px;
  margin-bottom: 6px;
  overflow: hidden;
}
