#details img{
  width: 100%;
}
#details h3{
  padding-top: 0;
  margin-top: 0;
}
#details .row{
  padding-left: 0;
  padding-right: 0;
}

#details p{
  font-family: SegoeUIRegular;
}
#details{
  margin: 20px 0 20px 0px;
  padding: 30px 0 0 0;
}
