.company{
  height: 425px;
  .
}
.company-blocks{
  margin-top: 2%;
}
.company .name-text{
  padding-top: 6.5%;
}
.company h5{
  font-size: 16px;
  font-weight: bold;
}
.company h6{
  font-style: italic;
}
.company h2{
  padding-top: 20px !important;
  font-size: 30px !important;
}
.company-descriptions{
  padding-left: 0;
}

.about-first-btn{
  float: left;
  width: 15%;
}
.about-second-btn{
  margin-left:3%;
  float: left;
  width: 28%;
}
