.contacts-bg{
  padding-top: 4%;
  color: #fff;
  background:#398be3;
  position: relative;
  height: 100%;
  min-height: 350px;
  left: 0;
  z-index: 1026;
  width: 50%;
}
.contacts-bg h1{
  margin-top: 0 !important;
  margin: 8% 12% 0;
  font-size: 48px;
}
.contacts {
  margin: 4% 0;
  color: #fff;
  font-size: 17px !important;
}
.contacts img{
  width: 50px !important;
  height: 50px!important;
  margin: 5px;
  float: left;
}
.contactsForm .icon{
  width: 40px !important;
  height: 40px!important;
  margin: 5px;
  float: left;
}
.contacts .number {
  padding-left: 6%;
}
@media  (min-width: 992px) {
  .contacts-map{
    width: 100%;
  }
}
.contacts-map{
  background-image: url("../../images/cityMorning.png");
  background-size: cover;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0px;
  z-index: 1026;
  width: 50%;
  padding-left: 0;

}

.contacts-btn{
  /*padding-top: 40%;*/
  padding-top: 340px;
  padding-left: 10%;
}
.btn-back span{
  margin-left: 8px;

}
.btn-back{
  position: relative;
  margin-bottom: 10px;
  /*margin-right: 30px;*/
  cursor: pointer;
  height: 15px;
}
.center-line{
  line-height: 2.5;
}
.marker-block{
  margin-top: 10px;
}
