footer li{
  font-size: 15px;
}
footer {
  padding: 0% 4%;
  font-family: Narrow;
}
.copy-footer{
 margin-left: 40%;
}
.footer-block-header{
  margin-bottom: 6%;
  font-weight: bold;
}
.ul-footer li {
  display:block;
}

.col-footer{
  padding-top: 5.6%;
  margin-left: 2.5%;
  padding-right: 0;
  padding-left: 0;


}
.footer-company{
  padding-left: 10px ;
  padding-right:10px ;
  margin-left: 8%
}
.footer h6{
  text-align: center !important;
}
.footer {
  /*padding-top: 19px;*/
  /*color: #777;*/
  margin-left: 3%;
  /*border-top: 1px solid #e5e5e5;*/
}
