header{
  font-size: 18px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.navbar-nav > li > a {
  line-height: 18px !important;
}
.navbar{
  margin-bottom: 0 !important;
}
.navbar-brand{
  padding-top: 0;
}
.fontCustoms{
  font-family: Narrow;
}
.navbar-header{
 /*float: left;*/
}
/*@media screen and (max-width: 426px){*/
  /*.navbar-header img{*/
    /*height: 40px !important;*/
  /*}*/
/*}*/
@media screen and (max-width: 328px){
  .navbar-header img{
    height: 40px !important;
  }
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
  margin-top: 1px;
  background: silver;
}
.navbar-default{
  background-color: #fff;
  border-color: #fff;
}
.activeHeader > a{
  background-color: #fff !important;
  border-bottom: 2px solid #ed5623;
  /*padding-bottom: 5px !important;*/
}
.navbar-toggle {
  font-size: 25px;
  margin-top: -8px;



}
.navHover:hover{
  background-color: #fff !important;
  border-bottom: 2px solid #ed5623;
  /*padding-bottom: 5px !important;*/
}
.lang-ul a{
  color: rgba(0, 0, 0, 0.36);
}
.lang-ul{
  width: 100%;
  margin-left: 20%;
  /* margin-right: 9%; */
  margin-top: 6%;
}
.nav-font{
  font-size: 1em;
}
.language{
  padding: 0% 4%;
}
.lang{
  margin: 0.4% 1%
}
.btnSearch{
  margin-top: 1%;
  margin-left: 2%;
}
.borderLeftLeng{
  border-left: 2px solid #398be3;
  padding-left: 6%;
}
.navbar-collapse {
   overflow-x: hidden;
  /*background: #d6d6d6;*/
}
.dropdown-menu > li > a:hover{
  background: #398be3;
  color: #fff;
}
.dropdown-menu > li > a {
  color: #fff !important;
}
.open > .dropdown-menu {
  display: flex !important;
}
.dropdown-menu {
  position: absolute;
  /* top: 100%; */
  /* left: 0; */
  z-index: 1000;
   display: none;
  /* float: left; */
  min-width: 500px;
  padding: 5px 0;
  /* margin: 2px 0 0; */
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #398be3;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
