h2{
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;
}
.none-max-width{
  max-width: none !important;
  display: inline-block !important;
}
.margin-slide button{
  margin-left: 5px;
}
.margin-slide{
  margin-top: 2%;
}
.item{
  background-size: cover;
  background: #fff;
  text-align: center;
}

.carousel{
  margin-top: 20px;
}
.classic li{
  font-size: 16.5px;
  list-style: initial;
  display: list-item;
  text-align: left;
}
.slide-1{
  text-align: left;
}
.slide-1 h1{
  color: #ed5623;
}
.classic{
  padding-left: 7%;;
}
.slide-1-block-background{
  background: rgba( 255,255,255, 0.6);
  width: 80%;
}
.carousel-indicators .active {
  width: 14px;
  height: 14px;
  margin: 0;
  background-color: #0681bf;
}
.carousel-indicators li {
  border-radius: 0;
  width: 13px;
  height: 13px;
  background-color: rgba(0, 0, 0, 0.29);
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image:none;
  text-shadow: -2px -2px 5px rgba(0, 0, 0, .6);
}
.carousel-control.left {
  left: 0;
  right: auto;
  background-image:none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);

}
.carousel-control {
  width: 10%;
  font-size: 20px;
  color: #fff;
  text-align: center;

  background-color: rgba(0, 0, 0, 0);
  opacity: .8;
}
/***********************/
@media screen and (min-width: 768px){
  .carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
    margin-right: -10px;
  }



}
  @media screen and (min-width: 768px){
    .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-prev, .carousel-control .icon-next {
      width: 34px;
      height: 34px;
      margin-top: -10px;
      font-size: 34px;
    }
    .carousel-control .icon-next, .carousel-control .glyphicon-menu-right {
      right: 50%;
      margin-right: -10px;
    }
    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right {
      position: absolute;

      top: 50%;
      z-index: 5;
      display: inline-block;
      margin-top: -10px;
    }
}
.item img{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.carousel-inner>.item>img{
  display: block;
  line-height: 1;
}
.captions{
  position: absolute;
  right: 0;
  bottom: 20%;
  left: 10px;
  padding: 10px;
}


/***********************/
.background-slide{
  display: none;
}
.n-bg-sl{
  display: block;
}
