ul.orange-marker span{
  color: #04314D;
}
ul.orange-marker li{
  color: #ed5623;;
}
.goal-title{
  font-size: 30px;
  color: #04314D;
  display: inline;
}
.fn-sz-18{
 font-size: 18px;
}
.goal-p{
  display: inline;
  font-size: 18px !important;
  color: #04314D;
}
.company-goal-title{
  margin-bottom: 2%;
  margin-top: 2%;
}
.aboutCompany{
  background-color: #158ee0;
}
.aboutCompany p{
  padding-top: 2%;
}
.title-aboutCompany{
  margin-top: 0;
  font-size: 42px;
  color: #fff;
}
.background-comments{
  background-image: url(../../../images/comments_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: 48%;
}
.comment-white{
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.78);
  /*margin-left: 7.2%;*/
  padding-left: 2%;
  margin-right: 7.2%;
}
.comment-white-btn{
  padding-top: 2%
}
.grey-footer{
  text-align: center;
  width: 100%;
  background-color: gray;
  padding: 2%;
  color: #fff;
  font-size: 18px;
}
.overflov-h{
  overflow: hidden;
}

.blue:hover{
  opacity: 1;
}
.blue h3{
  font-weight: bold;
}
.blue p{
  margin-top: 5%;
  font-size: 17px;
  line-height: 1.1;
  padding-left: 15px;
  padding-right: 15px;
}
.blue{
  text-align: center;
  background-image: url(../../../images/company/blue.png);
  position: absolute;
  width: 96%;
  height: 244.6px;
  opacity: 0;
  color: #fff;
}
.grey{
  height: 200px;
}
.slide-1-block-background-company{
  margin-bottom: 3%;
}
.slide-1-block-background-company p{
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bolder;
}

/*/*/

.generatecssdotcom_arrow {
  position:relative;
}
.act>.generatecssdotcom_arrow:after, .active>.generatecssdotcom_arrow:before /*.generatecssdotcom_arrow:focus:after, .generatecssdotcom_arrow:focus:before */{
  top:100%;
  left:50%;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
}
.act>.generatecssdotcom_arrow:after/*,.generatecssdotcom_arrow:focus:after */{
  border-top-color:#ed5623;
  border-width:12px;
  margin-left:-12px;
}
.act>.generatecssdotcom_arrow:before/*,.generatecssdotcom_arrow:focus:before*/ {
  border-top-color:#ed5623;
  border-width:12px;
  margin-left:-12px;
}
.act>.btn-orange-ico {
  color: #fff;
  border-radius: 0;
  background: #ed5623 ;
}

/*/*/
