<div class=" row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">Диагностика и оценка состояния ИТ предприятия{{SecondPage_About_Title_1 |translate}}</h2>
  <div>
    <p class=" fn-sz-18 rubric" style="color: #fff">ИТ-аудит, выполненный специалистами «СиБел», представит полную картину о состоянии как отдельных участков,
      так единой информационной системы компании и позволит выявить ее «узкие места» и возможные риски. {{SecondPage_About_Text_1_1 |translate}}</p></br>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >Оценка инфраструктуры и информационных сервисов даст точные ответы руководителю:{{SecondPage_About_Text_2_2 |translate}}</p>
      <ul class="classic orange-marker">
        <li ><span style="color: #fff">эффективно ли используются средства на ИТ?{{SecondPage_About_Text_2_2_1 |translate}}</span></li>
        <li><span style="color: #fff">можно ли сократить издержки по содержанию штата ИТ-сотрудников?{{SecondPage_About_Text_2_2_2 |translate}}</span></li>
        <li><span style="color: #fff">как оптимизировать ИТ-процессы в компании?{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title " style="padding-left: 0">
    <h4 class="goal-title">Оптимизация ИТ{{SecondPage_About_Title_2 |translate}}</br></h4></br>
    <p class="goal-p">Логическим продолжением аудита выступает ИТ-консалтинг. Если аудит направлен на выявление проблем и потенциальных возможностей, то
      ИТ-консалтинг предлагает перечень конкретных мероприятий для разрешения поставленных
      задач и использования возможностей системы в полной мере.{{SecondPage_About_Text_2_1 |translate}}</p>
  </div>
  <div class="col-md-11 rubric" style="padding-left: 0">
    <p class="goal-p">«СиБел» оказывает полный спектр консалтинговых услуг:{{SecondPage_About_Text_2_2 |translate}}</p>
    <ul class="classic orange-marker">
      <li ><span>определение параметров информационной системы{{SecondPage_About_Text_2_2_1 |translate}}</span></li>
      <li><span>разработка или модернизация ИТ-инфраструктуры {{SecondPage_About_Text_2_2_2 |translate}}</span></li>
      <li><span>подбор и поставка оборудования и программного обеспечения{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
      <li><span>аудит информационной безопасности{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
      <li><span>обслуживание и техподдержка в режиме 24/7{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
      <li><span>гарантийное SLA-соглашение{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
    </ul>
  </div>
</div>

