<div class="row block-default none-row">
  <h4 class="rubric it-title">ИТ-услуги «СиБел»{{SecondPage_Icons_Title | translate}}</h4>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.audit'}">
    <img id="first-icon" class="icons animated center" src='../../images/icons/cogwheel.png'>
    <h3><b>Опытные сотрудники{{SecondPage_Icons_Header_ICO_1 | translate}}</b></h3>
    <p style="font-size: 16px;">Качество услуг соответствует мировым требованиям и стандартам рынка ИТ{{SecondPage_Icons_Text_ICO_1 | translate}}</p>
    <div ng-click="Go('.audit')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">ИТ-аудит{{SecondPage_Icons_Btn_ICO_1|translate}}</div>
  </div>
  <div ng-click="openDetails()" class="col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.infra'}">
    <img id="second-icon" class="icons animated center" src='../../images/icons/networking.png'>
    <h3><b>Техподдержка 24/7{{SecondPage_Icons_Header_ICO_2 | translate}}</b></h3>
    <p style="font-size: 16px;">Подключение службы мониторинга и оказания консультационной поддержки{{SecondPage_Icons_Text_ICO_2 | translate}}</p>
    <div ng-click="Go('.infra')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico"> ИТ-инфраструктура{{SecondPage_Icons_Btn_ICO_2|translate}}</div>
  </div>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon " ng-class="{'act':state=='.engineer'}">
    <img id="third-icon" class="icons animated center" src='../../images/icons/analysis.png'>
    <h3><b>Сервис «по требованию»{{SecondPage_Icons_Header_ICO_3 | translate}}</b></h3>
    <p style="font-size: 16px;">Привлечение технических специалистов по необходимости{{SecondPage_Icons_Text_ICO_3 | translate}}</p>
    <div ng-click="Go('.engineer')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">Инженерная инфраструктура{{SecondPage_Icons_Btn_ICO_3|translate}}</div>
  </div>
</div>
