<div class="row block-default company" style="background-image: url(../../images/company.jpg); background-size: cover" >
  <h2 class="rubric">Наша компания</h2>
  <div class="row rubric company-blocks">
    <div class="col-md-2 col-sm-2 col-xs-4">
      <img class="default-img" src="images/avatar.png">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 name-text">
      <h5>Евгений Петрушин</h5>
      <h6>Директора по системной интеграции</h6>
    </div>
  </div>
  <div class="row rubric company-blocks">
    <div class="col-md-7 col-sm-7 col-xs-10 company-descriptions">
      <p>Компания "СиБел" входит в структуру многопрофильного холдинга "БелХард" и за 10 лет успешной деятельности в сфере системной интеграции достигла признания среди клиентов, вендеров и коллег. Наши стремления в продвижении собственных ИТ-решений и услуг для белорусского бизнеса...

      </p>
    </div>
  </div>
  <div class="row rubric company-blocks">
      <button class="form-control btn-full-orange about-first-btn ">Подробнее</button>
      <button class="form-control btn-orange about-second-btn"  ng-click="openModal('summary')">Приглашаем в команду</button>
  </div>
</div>
