<div class="row block-default company" style="background-image: url(../../images/company.jpg); background-size: cover" >
  <h2 class="rubric">{{Company_Title |translate}}</h2>
  <div class="row rubric company-blocks">
    <div class="col-md-2 col-sm-2 col-xs-4 avatar">
      <img class="default-img" src="images/foto_office.jpg">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 name-text">
      <h5>{{Company_Name |translate}}</h5>
      <h6 style="font-size: 14px">{{Company_Name_description_1 |translate}}</br>{{Company_Name_description_2 |translate}}</h6>
    </div>
  </div>
  <div class="row rubric company-blocks">
    <div class="col-md-7 col-sm-7 col-xs-10 company-descriptions">
      <p>
      {{Company_Comments|translate}}
      </p>
    </div>
  </div>
  <div class="row rubric company-blocks">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
      <button ng-click="openDetails()" class="form-control btn-full-orange about-first-btn ">{{Company_Btn_1|translate}}</button>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <button class="form-control btn-orange about-second-btn"  ng-click="openModal('summary')">{{Company_Btn_2|translate}}</button>
    </div>
  </div>
</div>
