<div class="block-default" style="height: 343px;">
  <div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5 ">
      <img src="images/notariat.jpg" style="height: 252px; width: 346px">
      <div class="img-footer" ><h5 class="ideas"><span style="color: #fff">{{Ideas_imgHeader_1}}:</span> {{Ideas_imgHeader_2}}</h5></div>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
      <div class="ideas-descriptions">
        <h3 class="ideas">{{Ideas_Title |translate}}</h3>
        <p>{{Ideas_Description_1|translate}}</p>
        <p>{{Ideas_Description_2|translate}}</p>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button ng-click="openDetails()" class="form-control btn-full-blue">{{Ideas_Btn_1|translate}}</button>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
          <button class="form-control btn-blue col-md-6 col-sm-6 col-xs-6">{{Ideas_Btn_2|translate}}</button>
        </div>

      </div>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
      <!--<div class="col-project-ideas" >-->
        <!--<p>Beltoll</p>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>-->

    <!--</div>-->

    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
      <!--<div class="col-project-ideas" >-->
        <!--<p>Милавица</p>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>-->

    <!--</div>-->
    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
      <!--<div class="col-project-ideas" >-->
        <!--<p>Нотариальная палата Беларуси</p>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>-->
    <!--</div>-->
  <!--</div>-->




</div>
