<div class="block-default" style="height: 343px;">
  <div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5 ">
      <img src="images/notariat.jpg" style="height: 252px; width: 346px">
      <div class="img-footer" ><h5 class="ideas"><span style="color: #fff">Разработка:</span> Системное решение для нотариата</h5></div>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
      <div class="ideas-descriptions">
        <h3 class="ideas">Реализованные проекты и передовые идеи говорят за нас</h3>
        <p>Компания «СиБел» специализируется на предоставлении  прикладных услуг в сфере высоких технологий.</p>
        <p>ЕИС нотариата Беларуси предназначена для автоматизации поиска, получения, передачи, сбора, обработки, накопления, хранения, распространения информации о нотариальной деятельности...</p>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button class="form-control btn-full-blue">Подробнее</button>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
          <button class="form-control btn-blue col-md-6 col-sm-6 col-xs-6">Показать все</button>
        </div>

      </div>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
      <!--<div class="col-project-ideas" >-->
        <!--<p>Beltoll</p>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>-->

    <!--</div>-->

    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
      <!--<div class="col-project-ideas" >-->
        <!--<p>Милавица</p>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>-->

    <!--</div>-->
    <!--<div class="col-md-4 col-sm-4 col-xs-4">-->
      <!--<div class="col-project-ideas" >-->
        <!--<p>Нотариальная палата Беларуси</p>-->
      <!--</div>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>-->
    <!--</div>-->
  <!--</div>-->




</div>
