<div class="row block-default">
  <h3>Проекты и идеи говорят за нас</h3>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <div class="col-project-ideas" >
      <p>Beltoll</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>

  </div>

  <div class="col-md-4 col-sm-4 col-xs-4">
    <div class="col-project-ideas" >
      <p>Милавица</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>

  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <div class="col-project-ideas" >
      <p>Нотариальная палата Беларуси</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

</div>
