<div class="row partnerList none-row">
  <h3 class="rubric dark-blue-color">{{Vendors_Title|translate}}</h3>
  <ul id="lightSlider">
    <li class="psevdoImg" onmouseout="querySelector('img').src='../../images/vendors/HP_white.png'" onmouseover="querySelector('img').src='../../images/vendors/HP.png'" >
      <img class="vendor-img" src='../../images/vendors/HP_white.png'>
    </li>
    <li class="psevdoImg" onmouseout="querySelector('img').src='../../images/vendors/Oracle_white.png'" onmouseover="querySelector('img').src='../../images/vendors/Oracle.png'">
      <img class="vendor-img"  src='../../images/vendors/Oracle_white.png'>
    </li>
    <li class="psevdoImg" onmouseout="querySelector('img').src='../../images/vendors/Cisco_white.png'" onmouseover="querySelector('img').src='../../images/vendors/Cisco.png'">
      <img class="vendor-img"  src='../../images/vendors/Cisco_white.png'>
    </li>
    <li class="psevdoImg" onmouseout="querySelector('img').src='../../images/vendors/APC_white.png'" onmouseover="querySelector('img').src='../../images/vendors/APC.png'">
      <img class="vendor-img"  src='../../images/vendors/APC_white.png'>
    </li>
    <li class="psevdoImg" onmouseout="querySelector('img').src='../../images/vendors/Schneider_white.png'" onmouseover="querySelector('img').src='../../images/vendors/Schneider.png'">
      <img class="vendor-img" src="../../images/vendors/Schneider_white.png">
    </li>
    </li>
  </ul>
</div>
<script type="text/javascript">
  $(function() {
    $('#lightSlider').lightSlider({
      item:4,
      loop:true,
      slideMove:2,
      easing: 'cubic-bezier(0.30, 0, 0.30, 1)',
      speed:600,
      pager: false,
      enableTouch:true,
      responsive : [
        {
          breakpoint:800,
          settings: {
            item:3,
            slideMove:1,
            slideMargin:6,
          }
        },
        {
          breakpoint:480,
          settings: {
            item:2,
            slideMove:1
          }
        },
        {
          breakpoint:380,
          settings: {
            item:1,
            slideMove:1,
            slideMargin:6,
          }
        }
      ]
    });
  });
//  item: 1,
//    loop: true, // крутить слайды по кругу
//    speed: 1000, // скорость движения слайда при нажатии на кнопку
//    slideMargin: 0,  // расстояние между слайдами. Полезно для слайлера клиентов, когда несколько слайдов на странице одновременно
//    keyPress: true,
//    controls: true,
//    pager: true, // наличие шариков внизу для быстрой навигации по слайдам
//    gallery: false // вместо шариков будут миниатюры для навигации
</script>
