<div class="row block-default">
  <h3>Наши вендоры</h3>
  <ul id="lightSlider">
    <li class="psevdoImg" >
      <h3>1</h3>
    </li>
    <li class="psevdoImg">
      <h3>2</h3>
    </li>
    <li class="psevdoImg">
      <h3>3</h3>
    </li>
    <li class="psevdoImg">
      <h3>4</h3>
    </li>
    <li class="psevdoImg">
      <h3>5</h3>
    </li>
    <li class="psevdoImg">
      <h3>6</h3>
    </li>
    <li class="psevdoImg">
      <h3>7</h3>
    </li>
    <li class="psevdoImg" >
      <h3>8</h3></li>
  </ul>
</div>
<script type="text/javascript">
  $(function() {
    $('#lightSlider').lightSlider({
      item:4,
      loop:false,
      slideMove:2,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed:600,
      responsive : [
        {
          breakpoint:800,
          settings: {
            item:3,
            slideMove:1,
            slideMargin:6,
          }
        },
        {
          breakpoint:480,
          settings: {
            item:2,
            slideMove:1
          }
        }
      ]
    });
  });
</script>
