<div class="row partnerList">
  <h3 class="rubric">Наши вендоры</h3>
  <ul id="lightSlider">
    <li class="psevdoImg" >
      <img class="vendor-img" src="../../images/vendors/hp.png">
    </li>
    <li class="psevdoImg">
      <img class="vendor-img" src="../../images/vendors/Oracle.png">
    </li>
    <li class="psevdoImg">
      <img class="vendor-img" src="../../images/vendors/Cisco.png">
    </li>
    <li class="psevdoImg">
      <img class="vendor-img" src="../../images/vendors/APC.png">
    </li>
    <li class="psevdoImg">
      <img class="vendor-img" src="../../images/vendors/Schneider.png">
    </li>
    </li>
  </ul>
</div>
<script type="text/javascript">
  $(function() {
    $('#lightSlider').lightSlider({
      item:4,
      loop:false,
      slideMove:2,
      easing: 'cubic-bezier(0.50, 0, 0.50, 1)',
      speed:600,
      responsive : [
        {
          breakpoint:800,
          settings: {
            item:3,
            slideMove:1,
            slideMargin:6,
          }
        },
        {
          breakpoint:480,
          settings: {
            item:2,
            slideMove:1
          }
        }
      ]
    });
  });
</script>
