<div class="row none-row block-default questions background-questions" >

  <h2 class="text-left-mobile">{{Questions_Title|translate}}</h2>
  <div class="row display-none">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h3 style="text-align: center">{{Questions_Row_1_Title_1|translate}}</br>{{Questions_Row_1_Title_2|translate}} </h3>

    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h3 style="text-align: center">{{Questions_Row_2_Title|translate}}</h3>
      <ng-include src="'/views/partials/_phoneNumber.html'" class="phone-margin"></ng-include>

    </div>
  </div>

  <div class="questions-2">
    <h4 class=' media-fonts-350 segoe-regular mobile-line-height dark-blue-color'>{{Questions_Min_Row_1_1 |translate}}</br>{{Questions_Min_Row_1_2 |translate}}</h4>
    <div class="row">
      <div class="col-xs-6" style="text-align: center">
        <h4 class="media-fonts-350"><b>+375 (29) 133 31 45</b></b></h4>
      </div>
      <div class="col-xs-6">
        <h4 class="media-fonts-350"><b>+375 (29) 769 29 96</b></h4>
      </div>
    </div>
    <div class="row mobile-style-block">
      <div class="col-xs-6">
        <button class="form-control btn-full-blue none-margin-top"  ng-click="openModal('query')">{{Questions_Btn_1|translate}}</button>
      </div>
      <div class="col-xs-6">
        <button class="form-control btn-blue none-margin-top" ng-click="openModal('call')">{{Questions_Btn_2|translate}}</button>
      </div>
    </div>
  </div>

  <div class="row display-none">
    <div class="col-md-3 col-md-offset-1 col-sm-offset-1 col-sm-3 col-xs-3 col-xs-offset-1 first">
      <button class="form-control btn-full-blue"  ng-click="openModal('query')">{{Questions_Btn_1|translate}}</button>
  </div>
    <div class="col-md-3 col-sm-3 col-xs-3 call">
      <button class="form-control btn-full-blue" ng-click="openModal('call')">{{Questions_Btn_2|translate}}</button>
    </div>
  </div>
</div>


