<!-- Карусель -->
<div id="myCarousel" class="carousel slide first-fixed-block " data-interval="3000" data-ride="carousel">
  <!-- Индикаторы для карусели -->
  <ol class="carousel-indicators">
    <!-- Перейти к 0 слайду карусели с помощью соответствующего индекса data-slide-to="0" -->
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <!-- Перейти к 1 слайду карусели с помощью соответствующего индекса data-slide-to="1" -->
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <!-- Перейти к 2 слайду карусели с помощью соответствующего индекса data-slide-to="2" -->
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Слайды карусели -->
  <div class="carousel-inner">
    <!-- Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда -->
    <div class="item active">
      <div class="background-slide background-slide-1"></div>
      <img class="none-max-width n-bg-sl" src="../../images/solutions.jpg">
      <div class="row slide-1 captions">
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-11 margin-slide slide-1">
          <div class="slide-1-block-background">
            <h1>{{SLIDER_Slide_1_Title_1| translate}} </br>{{SLIDER_Slide_1_Title_2| translate}}</h1>
            <ul class="classic">
              <li>{{SLIDER_Slide_1_li_1| translate}}</li>
              <li>{{SLIDER_Slide_1_li_4| translate}}</li>
              <li>{{SLIDER_Slide_1_li_3_1| translate}}</br>{{SLIDER_Slide_1_li_3_2| translate}}</li>
            </ul>
          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button ng-click="OpenState('.service.business')" class=" form-control btn-full-blue">{{SLIDER_BTN_1 |translate}}</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button class="form-control btn-blue" ng-click="openModal('query')">{{SLIDER_BTN_2 |translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Слайд №2 -->
    <div class="item">
      <div class="background-slide background-slide-2"></div>
      <img class="none-max-width n-bg-sl" src="../../images/telecom.jpg">
      <div class="row slide-2 captions">
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-11 margin-slide slide-1">
          <div class="slide-1-block-background">
            <h1>{{SLIDER_Slide_2_Title_1}} </br>{{SLIDER_Slide_2_Title_2|translate}}</h1>
            <ul class="classic">
              <li>{{SLIDER_Slide_2_li_1}}</li>
              <li>{{SLIDER_Slide_2_li_2}}</li>
              <li>{{SLIDER_Slide_2_li_3}}</li>
            </ul>
          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button  ng-click="OpenState('.service.mobile')" class=" form-control btn-full-orange">{{SLIDER_BTN_1 |translate}}</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button class=" form-control btn-orange" ng-click="openModal('query')">{{SLIDER_BTN_2 |translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Слайд №3 -->
    <div class="item">
      <div class="background-slide background-slide-3"></div>
      <img class="none-max-width n-bg-sl" src="../../images/services.jpg">
      <div class="row slide-3 captions">

        <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-11 margin-slide slide-1">
          <div class="slide-1-block-background">
            <h1>{{SLIDER_Slide_3_Title_1 | translate}}</h1>
            <ul class="classic">
              <li>{{SLIDER_Slide_3_li_1}}</li>
              <li>{{SLIDER_Slide_3_li_2}}</li>
              <li>{{SLIDER_Slide_3_li_3}}</li>
              <li>{{SLIDER_Slide_3_li_4}}<b> 24/7</b></li>
            </ul>
          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button ng-click="OpenState('.service.it')" class=" form-control btn-full-orange">{{SLIDER_BTN_1 |translate}}</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button class=" form-control btn-orange" ng-click="openModal('query')">{{SLIDER_BTN_2 |translate}}</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide">
        </div>
      </div>
    </div>
  </div>
  <!-- Навигация для карусели -->
  <!-- Кнопка, осуществляющая переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
  <a class="carousel-control left media-block" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left"></span>
  </a>
  <!-- Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next" -->
  <a class="carousel-control right media-block" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-menu-right"></span>
  </a>
</div>
