<!-- Карусель -->
<div id="myCarousel" class="carousel slide first-fixed-block " data-interval="3000" data-ride="carousel">
  <!-- Индикаторы для карусели -->
  <ol class="carousel-indicators">
    <!-- Перейти к 0 слайду карусели с помощью соответствующего индекса data-slide-to="0" -->
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <!-- Перейти к 1 слайду карусели с помощью соответствующего индекса data-slide-to="1" -->
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <!-- Перейти к 2 слайду карусели с помощью соответствующего индекса data-slide-to="2" -->
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Слайды карусели -->
  <div class="carousel-inner">
    <!-- Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда -->
    <div class="item active">
      <img src="../../images/solutions.jpg">
      <div class="row slide-1 captions">
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide slide-1">
          <div class="slide-1-block-background">
            <h1>Программное решение </br>для бизнеса</h1>
            <ul class="classic">
              <li>Автоматизация бизнес-процессов</li>
              <li>Учет и контроль бизнес-решений</li>
              <li>Актуализация информации о состоянии дел предприятия</li>
              <li>Аналитика бизнес-данных</li>
            </ul>
          </div>
          <div class="row margin-slide">
            <div class="col-md-4 col-sm-4 col-xs-4 ">
              <button ng-click="openDetails()" class=" form-control btn-full-blue">Подробнее</button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 ">
              <button class=" col-md-4 col-sm-4 col-xs-4 form-control btn-blue" ng-click="openModal('query')">Оставить запрос</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Слайд №2 -->
    <div class="item">
      <img src="../../images/telecom.jpg">
      <div class="row slide-2 captions">
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide slide-1">
          <div class="slide-1-block-background">
            <h1>ПО для мобильных </br>операторов</h1>
            <ul class="classic">
              <li>Подготовка данныз для выставления счетов</li>
              <li>Защита от мошенничества</li>
              <li>Активация услуг, предоставляемых мобильным оператором</li>
            </ul>
          </div>
          <div class="row margin-slide">
            <div class="col-md-4 col-sm-4 col-xs-4 ">
              <button ng-click="openDetails()" class=" form-control btn-full-orange">Подробнее</button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 ">
              <button class=" col-md-4 col-sm-4 col-xs-4 form-control btn-orange" ng-click="openModal('query')">Оставить запрос</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Слайд №3 -->
    <div class="item">
      <img src="../../images/services.jpg">
      <div class="row slide-3 captions">

        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1 margin-slide slide-1">
          <div class="slide-1-block-background">
            <h1>Опора для бизнеса</h1>
            <ul class="classic">
              <li>ИТ-аудит инфраструктуры</li>
              <li>Обслуживание и поддержка</li>
              <li>Создание корпоративных сетей</li>
              <li>Мониторинг информационной системы <b>24/7</b></li>
            </ul>
          </div>
          <div class="row margin-slide">
            <div class="col-md-5 col-sm-5 col-xs-5 ">
              <button ng-click="openDetails()" class=" form-control btn-full-orange">Подробнее</button>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 ">
              <button class=" form-control btn-orange" ng-click="openModal('query')">Оставить запрос</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 margin-slide">
        </div>
      </div>
    </div>
  </div>
  <!-- Навигация для карусели -->
  <!-- Кнопка, осуществляющая переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left"></span>
  </a>
  <!-- Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next" -->
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-menu-right"></span>
  </a>
</div>
