<div class=" row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">{{Benefits_Employees_Blue_Title |translate}}</h2>
  <div>
    <p class=" fn-sz-18 rubric" style="color: #fff"> {{Benefits_Employees_Blue_Description_1 |translate}}</p></br>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >{{Benefits_Employees_Blue_Description_2 |translate}} <b>{{Benefits_Employees_Blue_Description_2_2 |translate}}</b> {{Benefits_Employees_Blue_Description_2_3 |translate}}</p></br></br>
    </div>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >
       {{Benefits_Employees_Blue_Description_3 |translate}}</p></br></br>
    </div>
  </div>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title " style="padding-left: 0">
    <h4 class="goal-title">{{Benefits_Employees_White_Title |translate}}</br></h4></br>
    <ul class="classic orange-marker"><!--todo е нужен перевод так как это название сертификатов "только на en"-->
      <li ><span>ITIL® Foundation Certificate in IT Service Management</span></li>
      <li><span>Cisco Certified Network Associate </span></li>
      <li><span>Cisco Certified Network Associate Security</span></li>
      <li><span>Cisco Certified Network Professional</span></li>
      <li><span>Cisco Certified Design Associate</span></li>
      <li><span>Cisco Certified Design Professional</span></li>
      <li><span>HP Accredited Technical Professional — Blade System Solutions Support</span></li>
      <li><span>HP Accredited Technical Professional — Rack and Tower Server Support</span></li>
      <li><span>HP Accredited Technical Professional — Rack and Tower Server Integrator</span></li>
      <li><span>VMware VCP5 — Data Center Virtualization</span></li>
      <li><span>Microsoft MCTS: Windows Server 2008 Active Directory, Configuration</span></li>
      <li><span>HP Accredited Solutions Expert — Server Solutions Architect</span></li>
      <li><span>HP Accredited Solutions Expert — Storage Solutions Architect</span></li>
      <li><span>HP Accredited Technical Professional — Data Protector</span></li>
      <li><span>HP Accredited Technical Professional — Storage Solutions</span></li>
      <li><span>HP Accredited Solutions Expert — Server Solutions Architect</span></li>
      <li><span>HP Accredited Solutions Expert — ProLiant Server Solutions Integrator</span></li>
      <li><span>MCSA — Microsoft Certified Solutions Associate</span></li>
      <li><span>70-247 Configuring and Deploying a Private Cloud with System Center 2012</span></li>
      <li><span>DCCA — Data Center Certified Associate (Schneider Electric Energy University)</span></li>

    </ul>
  </div>

</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 oh-accordion ">
    <h3 class="rubric narrow"> {{Benefits_Employees_Orange_Title_1 |translate}}&nbsp;&nbsp;<span style="font-family: SegoeUIRegular">{{Benefits_Employees_Orange_Title_2 |translate}}</span></h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 none-row block-default company background-benefits" >
    <div class="rubric comment-white">
      <p class="guaranties">
        {{Benefits_Employees_Orange_Description_1 |translate}}
      </p>
    </div>
    <div class="row rubric comment-white-btn">
      <div class="col-md-2 col-sm-3 col-xs-4 col-lg-2 none-padding-left">
        <button  ng-click="Go('.guarantees')" class="form-control btn-full-orange about-first-btn ">{{Ideas_Btn_1|translate}}</button>
      </div>
    </div>
  </div>
</div>

