
<div id="myCarousel" class="carousel slide first-fixed-block " data-interval="3000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="background-slide background-slide-1"></div>
      <img class="none-max-width n-bg-sl" src="/images/benefits/slider_guarantees_benefits.jpg">
      <div class="row slide-1 captions">
        <div class="col-md-5 col-sm-5 col-xs-5 margin-slide">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-11 margin-slide slide-1">
          <div class=" slide-1-block-background slide-1-block-background-company">
            <h1>Гарантии{{SecondPage_Slider_Title| translate}} </br></h1>
            <p>Гарантии «СиБел» — это ответственность компании перед заказчиком и потребителем, бизнесом и государством. Мы принимаем обязательства за результат. {{SecondPage_Slider_Text| translate}} </p>
          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button ng-click="openDetails()" class=" form-control btn-full-blue">Оставить запрос{{SecondPage_Slider_Btn_1 |translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ncy-breadcrumb class="breadcrumb-header"></div>
<div class="row block-default none-row">
  <div class="none-row block-default company" >
    <div class=" block-comment">
      <h3 class="title-h">Финансовые гарантии</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/benefits/fin_guarantees_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': first, 'box-implementation':!first }">
              <img class="img-relative" src="images/benefits/chevron_left.png">
              <p class="goal-p">«СиБел» гарантирует уровень ИТ-услуг собственными финансовыми средствами посредством cоглашения об уровне обслуживания (SLA-соглашением). Этот документ формулирует права и обязанности сторон в виде договора оказания услуг и фиксирует достигнутую договоренность в том виде, в каком ее понимают обе стороны. {{SecondPage_Comments_Text_21 |translate}}</p></br></br>
              <p class="goal-p"><b>Основные компоненты SLA-соглашения:</b></p></br></br>
              <p class="goal-p">
                <ul class="ulli">
                  <li><span class="ulli-num">1</span><p><span>Декларация о намерениях сторон</span></p></li>
              <li><span class="ulli-num">2</span><p><span>Описание обязательств сторон (включая описание приемлемых уровней производительности по оговоренным параметрам) </span></p></li>
              <li><span class="ulli-num">3</span><p><span>Указание сроков действия соглашения </span></p></li>
              <li><span class="ulli-num">4</span><p><span>Описание предусмотренного соглашением использования приложений и услуг </span></p></li>
              <li><span class="ulli-num">5</span><p><span>Описание процедуры контроля за исполнением соглашения </span></p></li>
              <li><span class="ulli-num">6</span><p><span>Описание процедуры восстановления работы в случае перебоев и связанных с ними штрафных санкций</span></p></li>
              <li><span class="ulli-num">7</span><p><span>Процедура решения технических проблем (спорных вопросов)</span></p></li>
              </ul>
              </p>
            </div>
            <div class=" col-lg-5 col-md-5 col-sm-5">
              <button class="form-control btn-blue " ng-show="!first" ng-click="DetailsOpen('first')">{{SecondPage_Comments_Btn_1|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" block-comment">
      <h3 class="title-h">Безопасность программных продуктов (класс Б2)</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/benefits/b2_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': second, 'box-implementation':!second }">
              <img class="img-relative" src="../../../images/benefits/chevron_left.png">
              <p class="goal-p">К сведениям различной ценности предъявляются особые требования по обеспечению защиты информации, регулируемые Оперативно-аналитическим
                центром при Президенте Республики Беларусь (ОАЦ). Законодательные акты Республики Беларусь и положения Конституции Республики Беларусь определяют сведения,
                охраняемые от утечки по техническим каналам от несанкционированных и непреднамеренных воздействий.{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
              <p class="goal-p">Разработку информационных систем (ИС) для работы со сведениями, составляющими государственную тайну (класс А) и содержащими персональные данные (класс Б) могут вести компании,
                имеющие лицензию и аккредитованные ОАЦ. {{SecondPage_Comments_Text_22 |translate}}</p></br></br>
              <p class="goal-p">Структурное подразделение группы компаний «БелХард» входит в перечень аккредитованных испытательных лабораторий в области информатизации, что подтверждает высокие компетенции «СиБел» по
                разработке программных продуктов с системой защиты класса Б2.</p></br>
              </br>
            </div>
            <div class=" col-lg-5 col-md-5 col-sm-5">
              <button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-comment">
      <h3 class="title-h">Мониторинг в режиме 24 / 7</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="../../../images/benefits/monitoring_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': third, 'box-implementation':!third }">
              <img class="img-relative" src="../../../images/benefits/chevron_left.png">
              <p class="goal-p">Собственная служба мониторинга отслеживает соблюдение уровня качество предоставляемых услуг. По окончании установленного отчетного периода клиенту предоставляется подробный отчет, в котором отражены уровни доступности сервисов и подсистем, определяющие качество предоставления услуг. Таким образом заказчик получает наглядный отчет о функционировании информационной системы,
                за работоспособность которой мы несем финансовую ответственность.{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
            </div>
            <!--<div class=" col-lg-5 col-md-5 col-sm-5">-->
              <!--<button class="form-control btn-blue " ng-show="!third" ng-click="DetailsOpen('third')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
            <!--</div>-->
          </div>


        </div>

      </div>
      <!--<div class="row rubric comment-white-details">-->
      <!--<div class=" col-md-5"></div>-->
      <!--<div class="col-md-3">-->
      <!--<button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{SecondPage_Comments_Btn_1|translate}}</button>-->
      <!--</div>-->
    </div>

    <div class="block-comment">
      <h3 class="title-h">Наши вендоры</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/benefits/vendors_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': fourth, 'box-implementation':!fourth }">
              <img class="img-relative" src="../../../images/benefits/chevron_left.png">
              <p class="goal-p">Комплектующие и оборудование от мировых производителей делают продукты «СиБел» оптимальными для клиента.{{SecondPage_Comments_Text_21 |translate}}</p></br></br>
              <p class="goal-p"><b>Hewlett Packard Enterprise </b></p></br>
              <p class="goal-p">Компания развивает и производит оборудование для корпоративных клиентов: сервера, системы хранения данных, сети хранения данных,
                сетевое оборудование, — а также занимается построением облачных инфраструктур, системной интеграцией, конвергированными системами и разрабатывает
                программное обеспечение. {{SecondPage_Comments_Text_22 |translate}}</p></br></br>
              <p class="goal-p"><b>Oracle</b></p></br>
              <p class="goal-p">Компания специализируется на выпуске систем управления базами данных, связующего программного обеспечения и бизнес-приложений (ERP- и CRM-систем, специализированных отраслевых приложений).
                Наиболее известный продукт компании — Oracle Database, который компания выпускает с момента своего основания. С 2008 года корпорация
                освоила выпуск интегрированных аппаратно-программных комплексов, а с 2009 года стала производителем серверного оборудования.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
              <p class="goal-p"><b>Cisco</b></p></br>
              <p class="goal-p">Транснациональная компания, разрабатывающая и продающая сетевое оборудование, предназначенное в основном для крупных организаций и телекоммуникационных предприятий,
                мировой лидер в производстве оборудования для видеоконференций.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
              <p class="goal-p">Одной из особенностей бизнес-модели компании стала многоуровневая разветвлённая система сертификации инженеров по компьютерным сетям. {{SecondPage_Comments_Text_22 |translate}}</p></br></br>
              <p class="goal-p"><b>APC </b></p></br>
              <p class="goal-p">Один из ведущих поставщиков решений в области защиты питания: от домашнего применения до использования в крупных сетях, а также самое разнообразное оборудование для комплексного управления системами питания,
                мониторинга, диагностики и т. д. Кроме того,
                APC предлагает продукцию для мобильных устройств: широкий ассортимент аккумуляторных батарей, сетевые фильтры для портативных компьютеров.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
              <p class="goal-p"><b>Schneider Electric</b></p></br>
              <p class="goal-p">Крупная французская машиностроительная компания, обеспечивающая разработку и производство решений в области управления электроэнергией, а также комплексных энергоэффективных решений для энергетики и инфраструктуры,
                промышленных предприятий, объектов гражданского и жилищного строительства, центров обработки данных.{{SecondPage_Comments_Text_22 |translate}}</p></br></br>
            </div>
            <div class=" col-lg-5 col-md-5 col-sm-5">
              <button class="form-control btn-blue " ng-show="!fourth" ng-click="DetailsOpen('fourth')">{{SecondPage_Comments_Btn_1|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
