
<div id="myCarousel" class="carousel slide first-fixed-block " data-interval="3000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <div class="background-slide background-slide-1"></div>
      <img class="none-max-width n-bg-sl" src="/images/benefits/slider_guarantees_benefits.jpg">
      <div class="row slide-1 captions">
        <div class="col-md-5 col-sm-5 col-xs-5 margin-slide">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-11 margin-slide slide-1">
          <div class=" slide-1-block-background slide-1-block-background-company">
            <h1>{{Guarantees_Slider_Title| translate}} </br></h1>
            <p>{{Guarantees_Slider_Description| translate}} </p>
          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button ng-click="Email('query')" class=" form-control btn-full-blue">{{SLIDER_BTN_2 |translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ncy-breadcrumb class="breadcrumb-header"></div>
<div class="row block-default none-row">
  <div class="none-row block-default company" >
    <div class=" block-comment">
      <h3 class="title-h">{{Guarantees_Guarantee_1_Title_1| translate}}</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/benefits/fin_guarantees_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': first, 'box-implementation':!first }">
              <img class="img-relative" src="images/benefits/chevron_left.png">
              <p class="goal-p">{{Guarantees_Guarantee_1_Description| translate}}</p>
              <p class="goal-p"><b>{{Guarantees_Guarantee_1_Title_2| translate}}</b></p></br></br>
              <p class="goal-p">
                <ul class="ulli">
                  <li><span class="ulli-num">1</span><p><span>{{Guarantees_Guarantee_1_li_1| translate}}</span></p></li>
                  <li><span class="ulli-num">2</span><p><span>{{Guarantees_Guarantee_1_li_2| translate}}</span></p></li>
                  <li><span class="ulli-num">3</span><p><span>{{Guarantees_Guarantee_1_li_3| translate}}</span></p></li>
                  <li><span class="ulli-num">4</span><p><span>{{Guarantees_Guarantee_1_li_4| translate}}</span></p></li>
                  <li><span class="ulli-num">5</span><p><span>{{Guarantees_Guarantee_1_li_5| translate}}</span></p></li>
                  <li><span class="ulli-num">6</span><p><span>{{Guarantees_Guarantee_1_li_6| translate}}</span></p></li>
                  <li><span class="ulli-num">7</span><p><span>{{Guarantees_Guarantee_1_li_7| translate}}</span></p></li>
              </ul>
              </p>
            </div>
            <div class=" col-lg-5 col-md-5 col-sm-5">
              <button class="form-control btn-blue " ng-show="!first" ng-click="DetailsOpen('first')">{{Ideas_Btn_1|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" block-comment">
      <h3 class="title-h">{{Guarantees_Guarantee_2_Title_1| translate}}</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/benefits/b2_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': second, 'box-implementation':!second }">
              <img class="img-relative" src="../../../images/benefits/chevron_left.png">
              <p class="goal-p">{{Guarantees_Guarantee_2_Description_1| translate}}</p></br></br>
              <p class="goal-p">{{Guarantees_Guarantee_2_Description_2 |translate}}</p></br></br>
              <p class="goal-p">{{Guarantees_Guarantee_2_Description_3 |translate}}</p></br>
              </br>
            </div>
            <div class=" col-lg-5 col-md-5 col-sm-5">
              <button class="form-control btn-blue " ng-show="!second" ng-click="DetailsOpen('second')">{{Ideas_Btn_1|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-comment">
      <h3 class="title-h">{{Guarantees_Guarantee_3_Title_1| translate}}</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="../../../images/benefits/monitoring_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': third, 'box-implementation':!third }">
              <img class="img-relative" src="../../../images/benefits/chevron_left.png">
              <p class="goal-p">{{Guarantees_Guarantee_3_Description_1 |translate}}</p></br></br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block-comment" id="eis">
      <h3 class="title-h">{{Guarantees_Guarantee_4_Title_1| translate}}</h3>
      <div class="row rubric comment-white-implementations">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-11 padding-top-30 padding-bottom-30">
          <img src="images/benefits/vendors_benefits.jpg" style="height: 254px; width: 100%">
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-11 padding-tl-30 ">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-class="{'full-size': fourth, 'box-implementation':!fourth }">
              <img class="img-relative" src="../../../images/benefits/chevron_left.png">
              <p class="goal-p">{{Guarantees_Guarantee_4_Description_1 |translate}}</p></br></br>
              <p class="goal-p"><b>Hewlett Packard Enterprise </b></p></br>
              <p class="goal-p">{{Guarantees_Guarantee_4_Description_2 |translate}}</p></br></br>
              <p class="goal-p"><b>Oracle</b></p></br>
              <p class="goal-p">{{Guarantees_Guarantee_4_Description_3 |translate}}</p></br></br>
              <p class="goal-p"><b>Cisco</b></p></br>
              <p class="goal-p">{{Guarantees_Guarantee_4_Description_4_1 |translate}}</p></br></br>
              <p class="goal-p">{{Guarantees_Guarantee_4_Description_4_2 |translate}}</p></br></br>
              <p class="goal-p"><b>APC </b></p></br>
              <p class="goal-p">{{Guarantees_Guarantee_4_Description_5 |translate}}</p></br></br>
              <p class="goal-p"><b>Schneider Electric</b></p></br>
              <p class="goal-p">{{Guarantees_Guarantee_4_Description_6 |translate}}</p></br></br>
            </div>
            <div class=" col-lg-5 col-md-5 col-sm-5">
              <button class="form-control btn-blue " ng-show="!fourth" ng-click="DetailsOpen('fourth')">{{Ideas_Btn_1|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
