<div class=" row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">Инновационное развитие{{SecondPage_About_Title_1 |translate}}</h2>
  <div>
    <p class=" fn-sz-18 rubric" style="color: #fff">Большинство инноваций в сфере ИТ-услуг заключается в повышении эффективности оказания сервиса заказчику и качества взаимоотношений клиента и компании.{{SecondPage_About_Text_1_1 |translate}}</p></br>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >«СиБел» понимает превосходство совершенствования и развития инновационных технологий. Мы регулярно инвестируем в развитие собственных технологических компетенций для оценки меняющихся потребностей наших клиентов. Так мы можем предложить им наиболее современные и
        технологичные процессы и программные решения.{{SecondPage_About_Text_2_2 |translate}}</p></br></br>
    </div>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >
        Богатый опыт и профессиональные знания позволяют нам улучшать и развивать новые методы, быть гибкими и мобильными в постоянно меняющейся сфере современных
        информационных технологий.{{SecondPage_About_Text_2_2 |translate}}</p></br></br>
    </div>
  </div>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title " style="padding-left: 0">
    <h4 class="goal-title">Свободное и открытое ПО{{SecondPage_About_Title_2 |translate}}</br></h4></br>
    <p class="goal-p">«СИБел» видит источники инноваций в совершенствовании технологической базы, внутренней оптимизации процессов, применении новых методов и средств решения задач, сокращении издержек,
      снижении стоимости программных продуктов.{{SecondPage_About_Text_2_1 |translate}}</p></br></br>
  </div>
  <div class="col-md-11 rubric" style="padding-left: 0">
    <p class="goal-p">Применение Open Source Software (свободного и открытого программного обеспечения) предоставляет дополнительные преимущества нашим клиентам:
    <ul class="classic orange-marker">
      <li ><span>снижение стоимости{{SecondPage_About_Text_2_2_1 |translate}}</span></li>
      <li><span>сокращение сроков разработки{{SecondPage_About_Text_2_2_2 |translate}}</span></li>
      <li><span>стабильное развитие программного продукта.{{SecondPage_About_Text_2_2_3 |translate}}</span></li>
    </ul>
    </p></br></br>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 oh-accordion ">
    <h3 class="rubric narrow">Гарантии: &nbsp;&nbsp;<span style="font-family: SegoeUIRegular">Финансовые гарантии</span></h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 none-row block-default company background-benefits" >
    <div class="rubric comment-white">

      <p class="guaranties">
        «СиБел» гарантирует уровень ИТ-услуг собственными финансовыми средствами посредством cоглашения об уровне обслуживания (SLA-соглашением).
      </p>
      <p class="guaranties">
        Этот документ формулирует права и обязанности сторон в виде договора оказания услуг и фиксирует достигнутую договоренность в том виде, в каком ее понимают обе стороны.
      </p>
      <!--<p class="guaranties">-->
        <!--Основные компоненты SLA-соглашения:-->
      <!--</p>-->
      <!--<ul class="classic orange-marker">-->
        <!--<li ><span>снижение стоимости{{SecondPage_About_Text_2_2_1 |translate}}</span></li>-->
        <!--<li><span>сокращение сроков разработки{{SecondPage_About_Text_2_2_2 |translate}}</span></li>-->
        <!--<li><span>стабильное развитие программного продукта.{{SecondPage_About_Text_2_2_3 |translate}}</span></li>-->
      <!--</ul>-->

    </div>
    <div class="row rubric comment-white-btn">
      <div class="col-md-2 col-sm-3 none-padding-left">
        <button  ng-click="Go('.guarantees')" class="form-control btn-full-orange about-first-btn ">{{SecondPage_Comments_Btn_3|translate}}</button>
      </div>
    </div>
  </div>
</div>

