<div class=" row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">{{Benefits_Innovations_Blue_Title |translate}}</h2>
  <div>
    <p class=" fn-sz-18 rubric" style="color: #fff">{{Benefits_Innovations_Blue_Description_1 |translate}}</p></br>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >{{Benefits_Innovations_Blue_Description_2 |translate}}</p></br></br>
    </div>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >
        {{Benefits_Innovations_Blue_Description_3 |translate}}</p></br></br>
    </div>
  </div>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title " style="padding-left: 0">
    <h4 class="goal-title">{{Benefits_Innovations_White_Title |translate}}</br></h4></br>
    <p class="goal-p">{{Benefits_Innovations_White_Description_1 |translate}}</p></br></br>
  </div>
  <div class="col-md-11 rubric" style="padding-left: 0">
    <p class="goal-p">{{Benefits_Innovations_White_Description_2 |translate}}
    <ul class="classic orange-marker">
      <li><span>{{Benefits_Innovations_White_li_1 |translate}}</span></li>
      <li><span>{{Benefits_Innovations_White_li_2 |translate}}</span></li>
      <li><span>{{Benefits_Innovations_White_li_3 |translate}}</span></li>
    </ul>
    </p></br></br>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 oh-accordion ">
    <h3 class="rubric narrow">{{Benefits_Innovations_Orange_Title_1 |translate}}&nbsp;&nbsp;<span style="font-family: SegoeUIRegular">{{Benefits_Innovations_Orange_Title_2 |translate}}</span></h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 none-row block-default company background-benefits" >
    <div class="rubric comment-white">

      <p class="guaranties">
        {{Benefits_Innovations_Orange_Description_1 |translate}}
      </p>
      <p class="guaranties">
        {{Benefits_Innovations_Orange_Description_2 |translate}}
      </p>
    </div>
    <div class="row rubric comment-white-btn">
      <div class="col-md-2 col-sm-3 col-xs-4 col-lg-2  none-padding-left">
        <button  ng-click="Go('.guarantees')" class="form-control btn-full-orange about-first-btn ">{{Ideas_Btn_1|translate}}</button>
      </div>
    </div>
  </div>
</div>

