<div class=" row none-row block-default aboutCompany" >
  <h2 class="title-aboutCompany rubric npt">ISO 9001{{SecondPage_About_Title_1 |translate}}</h2>
  <div>
    <p class=" fn-sz-18 rubric" style="color: #fff">Принципы управления качеством отражены в стандарте ISO 9001 и служат целям перехода к концепции TQM (Total Quality Management — всеобщее управления качеством),
      ориентированной на удовлетворение потребителей.{{SecondPage_About_Text_1_1 |translate}}</p></br>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >Компания «СиБел» сертифицирована на соответствие требованиям СТБ ISO 9001–2009 независимой компетентной организацией — аккредитованным органом по
        сертификации системы менеджмента БелГИСС.{{SecondPage_About_Text_2_2 |translate}}</p></br></br>
    </div>
    <div class="col-md-11 rubric npt" style="padding-left: 0">
      <p class="goal-p fn-sz-18 " style="color: #fff" >
        Практика «СиБел» не ограничивается только внедрением требований стандарта ISO 9001 на системы менеджмента качества, но и использует дополнительные инженерно-экономические
        инструменты и техники.{{SecondPage_About_Text_2_2 |translate}}</p></br></br>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 rubric ">
      <button class="form-control btn-full-blue" ng-click="openModal()">Показать сертификат</button>
    </div>
  </div>
</div>
<div class="row none-row block-default company" >
  <div class="col-md-11 rubric company-goal-title " style="padding-left: 0">
    <h4 class="goal-title">Agile{{SecondPage_About_Title_2 |translate}}</br></h4></br>
    <p class="goal-p">Сегодня серьезными преимуществами ИТ-компаний на рынке являются скорость выпуска продукта, следование современным технологиям разработки ПО,
      а также возможность создания масштабируемых приложений. {{SecondPage_About_Text_2_1 |translate}}</p></br></br>
  </div>
  <div class="col-md-11 rubric" style="padding-left: 0">
    <p class="goal-p">Lean делает упор на организационную эффективность, оптимизацию и сокращение «отходов».
      Scrum уделяет повышенное внимание практикам по самоорганизации команд.
      XP (Extreme Programming) сконцентрирована на качестве программного продукта.
      Kanban — метод управления разработкой, реализующий принцип «точно в срок» и способствующий равномерному распределению нагрузки между работниками.
      Спиральная модель — особенностью этой модели является специальное внимание рискам в процессе разработки программного обеспечения.
    </p></br></br>
  </div>
  <div class="col-md-11 rubric" style="padding-left: 0">
    <p class="goal-p">
      Применение Agile-методологий позволяет максимально быстро начать выполнение проекта, детали которого могут быть уточнены в процессе его реализации.
    </p></br></br>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 oh-accordion ">
    <h3 class="rubric narrow">Гарантии: &nbsp;&nbsp;<span style="font-family: SegoeUIRegular">Безопасность программных продуктов (класс Б2)</span></h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 none-row block-default company background-benefits" >
    <div class="rubric comment-white">

      <p class="guaranties">К сведениям различной ценности предъявляются особые требования по обеспечению защиты информации, регулируемые Оперативно-аналитическим центром при Президенте Республики Беларусь (ОАЦ). Законодательные акты Республики Беларусь и положения Конституции Республики Беларусь определяют сведения, охраняемые от утечки по техническим каналам от несанкционированных и непреднамеренных воздействий.
        Разработку информационных систем (ИС) для работы со сведениями, составляющими государственную тайну (класс А) и содержащими персональные данные (класс Б) могут вести компании, имеющие лицензию и аккредитованные ОАЦ.
        Структурное подразделение группы компаний «БелХард» входит в перечень аккредитованных испытательных лабораторий в области информатизации, что подтверждает высокие компетенции «СиБел» по разработке программных продуктов с системой защиты класса Б2.
      </p>
    </div>
    <div class="row rubric comment-white-btn">
      <div class="col-md-2 col-sm-3 none-padding-left">
        <button  ng-click="Go('.guarantees')" class="form-control btn-full-orange about-first-btn ">{{SecondPage_Comments_Btn_3|translate}}</button>
      </div>
    </div>
  </div>
</div>

