<div class="row block-default none-row">
  <h4 class="rubric it-title">ПО для операторов мобильной связи{{SecondPage_Icons_Title | translate}}</h4>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.cdr'}">
    <img id="first-icon" class="icons animated center" src='../../images/icons/10_years.png'>
    <h3><b>Более 10 лет на рынке{{SecondPage_Icons_Header_ICO_1 | translate}}</b></h3>
    <p style="font-size: 16px;">Обширный опыт в сфере ПО для мобильных операторов{{SecondPage_Icons_Text_ICO_1 | translate}}</p>
    <div ng-click="Go('.cdr')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">Длительное хранение CDR{{SecondPage_Icons_Btn_ICO_1|translate}}</div>
  </div>
  <div ng-click="openDetails()" class="col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon" ng-class="{'act':state=='.session'}">
    <img id="second-icon" class="icons animated center" src='../../images/icons/50_project.png'>
    <h3><b>Более 50 проектов{{SecondPage_Icons_Header_ICO_2 | translate}}</b></h3>
    <p style="font-size: 16px;">Для компаний России, Украины, Казахстана, Беларуси{{SecondPage_Icons_Text_ICO_2 | translate}}</p>
    <div ng-click="Go('.session')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico"> Агрегация длинных сессий{{SecondPage_Icons_Btn_ICO_2|translate}}</div>
  </div>
  <div ng-click="openDetails()" class=" col-md-4 col-sm-4 col-xs-10 pointer text-center padding-icon " ng-class="{'act':state=='.audit'}">
    <img id="third-icon" class="icons animated center" src='../../images/icons/complex.png'>
    <h3><b>Комплексное решение{{SecondPage_Icons_Header_ICO_3 | translate}}</b></h3>
    <p style="font-size: 16px;">Привлечение технических специалистов «по требованию»{{SecondPage_Icons_Text_ICO_3 | translate}}</p>
    <div ng-click="Go('.audit')" class="generatecssdotcom_arrow btn_arrow form-control btn-orange-ico">Аудит и контроль полноты данных{{SecondPage_Icons_Btn_ICO_3|translate}}</div>
  </div>
</div>
