<!-- Карусель -->
<div id="myCarousel" class="carousel slide first-fixed-block " data-interval="3000" data-ride="carousel">
  <!-- Индикаторы для карусели -->
  <!-- Слайды карусели -->
  <div class="carousel-inner">
    <!-- Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда -->
    <div class="item active">
      <div class="background-slide background-slide-1"></div>
      <img class="none-max-width n-bg-sl" src="../../images/service/telecom.png">
      <div class="row slide-1 captions">
        <div class="col-md-5 col-sm-5 col-xs-5 margin-slide">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-11 margin-slide slide-1">
          <div class=" slide-1-block-background slide-1-block-background-company">
            <h1>{{Mobile_Slider_Title| translate}} </br></h1>
              <p>{{Mobile_Slider_Description| translate}}</p>

          </div>
          <div class="row margin-slide">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
              <button ng-click="Email('query')" class=" form-control btn-full-blue">{{SLIDER_BTN_2 |translate}}</button>
            </div>
            <!--<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">-->
              <!--<button class="form-control btn-orange" ng-click="openModal('query')">{{SecondPage_Slider_Btn_2 |translate}}</button>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Навигация для карусели -->
  <!-- Кнопка, осуществляющая переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
 <!-- <a class="carousel-control left media-block" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left"></span>
  </a>
  &lt;!&ndash; Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next" &ndash;&gt;
  <a class="carousel-control right media-block" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-menu-right"></span>
  </a>-->
</div>
