<div>
  <div class="text-error">
    <h4 class="">Мы работаем над новой версией сайта. </br> Вы увидите его совсем скоро. Приносим свои извинения</h4>
    </br>
    <h3 class="error-title">Уведомление об открытии</h3>
    <h4 class="">Хотите узнать о публикации сайта? Укажите ваш e-mail, и мы</br> обязательно сообщим вам. Мы меняемся для вас!</h4>
    <div class="row notification">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input class="form-control" placeholder="Ваш e-mail">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <button class="btn btn-full-orange btn-radius">Получить уведомление</button>
      </div>
    </div>
  </div>
  <div class="background-error">
    <img  src="../images/404/office_grey_min.jpg">
  </div>
  <div class="row footer-error">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="row">
        <img src="../images/404/map-mark-symbol-of-ios-7.png" >
        <p>Б/ц Фаренгейт, 4-й этаж </br> Ул.Притыцкого, 79, 220004, Минск, Беларусь</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="row dop-margin-email">
        <img src="../images/404/small-mail-envelope.png" >
        <p>e-mail: info@sibel.by</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <ng-include src="'/views/partials/_phoneNumber.html'"></ng-include>
    </div>

  </div>

</div>
