<div>
  <div class="text-error">
    <h3 class="bold segoe-regular">{{Error_Title_1|translate}}</br>{{Error_Title_2|translate}}</h3>
    </br>
    <h3 class="error-title bold font-size-32 narrow">{{Error_Title_Color|translate}}</h3>
    <h4 class="segoe-regular">{{Error_Descriptions_1|translate}}</br>{{Error_Descriptions_2|translate}}</h4>
    <div class="row notification segoe-regular message-block">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <input class="form-control " placeholder='E-mail'>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <button class="form-control btn-full-orange error-message-btn">{{Error_Btn |translate}}</button>
      </div>
    </div>
  </div>
  <div class="background-error">
    <img class="media-block-up img-height"  src="../images/404/office_grey_min.jpg">
    <div class="video-bg"></div>
    <video id="bgvid" playsinline autoplay muted loop class="display-none media-block-up">
      <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
      <!--<source src="../video/time_video.webm" type="video/webm">-->
      <source src="../video/time_video.mp4" type="video/mp4">

    </video>
  </div>
  <div class="row footer-error media-block">
    <div class="col-ld-4 col-md-4 col-sm-5 col-xs-12">
      <div class="row">
        <img src="../images/404/map-mark-symbol-of-ios-7_wh.png" >
        <p>{{Error_Address_1 |translate}}</br> {{Error_Address_2 |translate}}</p>
      </div>
    </div>
    <div class="col-ld-5 col-md-5 col-sm-3 col-xs-12">
      <div class="row dop-margin-email footer-404-margin-img">
        <img src="../images/404/small-mail-envelope_wh.png" >
        <p>e-mail: info@sibel.by</p>
      </div>
    </div>
    <div class="col-ld-3 col-md-3 col-sm-4 col-xs-12 footer-404-margin-img">
      <div class="row phone phone-404">
        <div class="col-md-1 col-sm-1 col-xs-1 phone-img" >
          <img src="../images/404/touch-screen-mobile-device_wh.png">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 number" >
          <p>+375 (29) 133 31 45</p>
          <p>+375 (29) 769 29 96</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-error media-block-up">
    <div class="col-ld-3 col-md-3 col-sm-4 col-xs-12 footer-404-margin-img">
      <div class="row dop-margin-email phone phone-404">
        <div class="col-md-1 col-sm-1 col-xs-1 phone-img" >
          <img src="../images/404/touch-screen-mobile-device_wh.png">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 number" >
          <p>+375 (29) 133 31 45</p>
          <p>+375 (29) 769 29 96</p>
        </div>
      </div>
    </div>
    <div class="col-ld-5 col-md-5 col-sm-3 col-xs-12">
      <div class="row dop-margin-email footer-404-margin-img">
        <img src="../images/404/small-mail-envelope_wh.png" >
        <p>e-mail: info@sibel.by</p>
      </div>
    </div>
    <div class="col-ld-4 col-md-4 col-sm-5 col-xs-12">
      <div class="row dop-margin-email">
        <img src="../images/404/map-mark-symbol-of-ios-7_wh.png" >
        <p>{{Error_Address_1 |translate}}</br> {{Error_Address_2 |translate}}</p>
      </div>
    </div>
  </div>

</div>
