
<ng-include src="'/views/partials/_slider.html'"></ng-include>

<div class="row block-default none-row">
  <h4 class="rubric it-title">{{HOME_TITLE | translate}}</h4>
  <div ng-click="openDetails()" class="col-it-inf col-md-3 col-sm-3 col-xs-10 pointer">
    <img id="first-icon" class="icons animated" src='../../images/icons/cogwheel.png'>
    <h4><b>{{HOME_ROW_1_TITLE | translate}}</b></h4>
    <p>{{HOME_ROW_1 | translate}}</p>
    <button  class="form-control btn-blue secondBlock">{{HOME_ROW_1_BTN | translate}}</button>
  </div>
  <div ng-click="openDetails()" class="col-it-inf col-md-3 col-sm-3 col-xs-10 pointer">
    <img id="second-icon" class="icons animated" src='../../images/icons/networking.png'>
    <h4><b>{{HOME_ROW_2_TITLE | translate}}</b></h4>
    <p>{{HOME_ROW_2 | translate}}</p>
    <button  class="form-control btn-blue secondBlock">{{HOME_ROW_2_BTN | translate}}</button>
  </div>
  <div ng-click="openDetails()" class="col-it-inf col-md-3 col-sm-3 col-xs-10 pointer">
    <img id="third-icon" class="icons animated" src='../../images/icons/analysis.png'>
    <h4><b>{{HOME_ROW_3_TITLE | translate}}</b></h4>
    <p>{{HOME_ROW_3 | translate}}</p>
    <button class="form-control btn-blue secondBlock">{{HOME_ROW_3_BTN | translate}}</button>
  </div>
</div>
<ng-include src="'/views/partials/company/_aboutCompany.html'"></ng-include>
<ng-include src="'/views/partials/company/_goal.html'"></ng-include>
<ng-include src="'/views/partials/company/_comments.html'"></ng-include>
<!--<ng-include src="'/views/partials/_questions.html'"></ng-include>-->
