<div class="footer">
  <div class="container">
    <div class="row" style="border-top: 1px silver solid;">
      <div class="padding col-xxs col-md-3 col-sm-3 col-xs-3">
        <a class="" href="#/"><img src="images/firmname.png" style="height:32px; margin-top: -7%"></a>
      </div>
    </div>
    <div class="row">
      <div class=" col-xxs col-md-3 col-sm-3 col-xs-3">
        <div class="bottom-menu">
          <div class="footer-block-header">
            <a href="company">КОМПАНИЯ</a>
          </div>
          <ul class="ul-footer">
            <li><a class="menu-link" href="company#o-kompanii">О компании</a></li>
            <li><a class="menu-link" href="company#rukovodstvo">Ценности</a></li>
            <li><a class="menu-link" href="company#nash-podhod">Команда</a></li>
            <li><a class="menu-link" href="company#novosti">Вакансии</a></li>
            <li><a class="menu-link" href="company#novosti">Отзывы</a></li>
            <li><a class="menu-link" href="company#novosti">Партнеры</a></li>
          </ul>
        </div>
      </div>
      <div class=" col-xxs col-md-3 col-sm-3 col-xs-3">
        <div class="bottom-menu">
          <div class="footer-block-header">
            <a href="company">РЕШЕНИЯ И УСЛУГИ</a>
          </div>
          <ul class="ul-footer">
            <li><a class="menu-link" href="company#o-kompanii">Программные решения</a></li>
            <li><a class="menu-link" href="company#rukovodstvo">Телекоммуникации</a></li>
            <li><a class="menu-link" href="company#nash-podhod">ИТ-услуги</a></li>
            <li><a class="menu-link" href="company#novosti">Клиенты</a></li>
          </ul>
        </div>
      </div>
      <div class=" col-xxs col-md-3 col-sm-3 col-xs-3">
        <div class="bottom-menu">
          <div class="footer-block-header">
            <a href="company">ПРЕИМУЩЕСТВА</a>
          </div>
          <ul class="ul-footer">
            <li><a class="menu-link" href="company#o-kompanii">Сотрудники</a></li>
            <li><a class="menu-link" href="company#rukovodstvo">Стандарты</a></li>
            <li><a class="menu-link" href="company#nash-podhod">Бизнес-процессы</a></li>
            <li><a class="menu-link" href="company#novosti">Инновации</a></li>
            <li><a class="menu-link" href="company#novosti">Гарантии</a></li>
          </ul>
        </div>
      </div>
      <div class=" col-xxs col-md-3 col-sm-3 col-xs-3">
        <div class="bottom-menu">
          <div class="footer-block-header">
            <a href="company">ПРОЕКТЫ И ИДЕИ</a>
          </div>
          <ul class="ul-footer">
            <li><a class="menu-link" href="company#rukovodstvo">Проекты</a></li>
            <li><a class="menu-link" href="company#nash-podhod">Идеи</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p сlass="copire">&copy; SiBEL/СиБЕЛ.2016</p>
  </div>
</div>
