<div class="footer block-default">
    <div class="row">
      <div class="padding col-xxs col-md-2 col-sm-6 col-xs-6">
        <a class="" href="#/"><img src="images/logo.png" style="height:58px;%"></a>
      </div>
      <div class="col-md-10 col-sm-6 col-xs-6">
        <div class="row">
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-2 col-footer footer-company">
          <div class="bottom-menu">
            <div ng-click="Go('root.company')" class="footer-block-header">
              {{Footer_nav_1 | translate}}
            </div>
            <ul class="ul-footer">
              <li ng-click="Go('root.company.about')"><a class="menu-link" href="">{{Header_nav_1_1 | translate}}</a></li>
              <li ng-click="Go('root.company.value')"><a class="menu-link" href="">{{Header_nav_1_2 | translate}}</a></li>
              <li ng-click="Go('root.company.team')"><a class="menu-link" href="">{{Header_nav_1_3 | translate}}</a></li>
              <li ng-click="openModal('summary')"><a class="menu-link" href="">{{Header_nav_1_4 | translate}}</a></li>
              <li ng-click="Go('root.company.reviews')"><a class="menu-link" href="">{{Header_nav_1_5 | translate}}</a></li>
              <!--<li ng-click="Go('root.company.about')"><a class="menu-link" href="">Вендоры</a></li>-->
            </ul>
          </div>
        </div>
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-2 col-footer">
          <div class="bottom-menu">
            <div class="footer-block-header">
              {{Footer_nav_2 | translate}}
            </div>
            <ul class="ul-footer">
              <li ng-click="Go('root.service.business')"><a class="menu-link" href="">{{Header_nav_2_1 | translate}}</a></li>
              <li ng-click="Go('root.service.mobile')"><a class="menu-link" href="">{{Header_nav_2_2 | translate}}</a></li>
              <li ng-click="Go('root.service.it')"><a class="menu-link" href="">{{Header_nav_2_3 | translate}}</a></li>
              <li ng-click="Go('root.service.implementation')"><a class="menu-link" href="">{{Header_nav_2_4 | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-1 col-footer ">
          <div class="bottom-menu">
            <div class="footer-block-header"  ng-click="Go('root.cases')">
              {{Footer_nav_3 | translate}}
            </div>
            <!--<ul class="ul-footer">-->
              <!--<li><a class="menu-link" href="">Разработки</a></li>-->
              <!--<li><a class="menu-link" href="">Идеи</a></li>-->
              <!--<li><a class="menu-link" href="">Проекты</a></li>-->
            <!--</ul>-->
          </div>
        </div>
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-2 col-footer">
          <div class="bottom-menu">
            <div class="footer-block-header">
              {{Footer_nav_4 | translate}}
            </div>
            <ul class="ul-footer">
              <li ng-click="Go('root.benefits.employees')"><a class="menu-link" href="">{{Header_nav_4_1 | translate}}</a></li>
              <!--<li><a class="menu-link" href="">Стандарты</a></li>-->
              <li ng-click="Go('root.benefits.innovations')"><a class="menu-link" href="">{{Header_nav_4_2 | translate}} </a></li>
              <li ng-click="Go('root.benefits.standards')"><a class="menu-link" href="">{{Header_nav_4_3 | translate}}</a></li>
              <li ng-click="Go('root.benefits.guarantees')"><a class="menu-link" href="">{{Header_nav_4_4 | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-1 col-footer">
          <div class="bottom-menu">
            <div ng-click="Go('root.contacts')" class="footer-block-header">
              {{Footer_nav_5 | translate}}
            </div>
            <ul class="ul-footer">
            </ul>
          </div>
        </div>

      </div>
      </div>
    </div>
    <!--<h6>&copy; SiBEL/СиБЕЛ.2016</h6>-->
    <!--<h4 class="copy-footer">&copy; SiBEL/СиБЕЛ. 2016</h4>-->
</div>
