<div class="footer block-default">
    <div class="row">
      <div class="padding col-xxs col-md-2 col-sm-2 col-xs-2">
        <a class="" href="#/"><img src="images/logo.png" style="height:58px;%"></a>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="row">
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-2 col-footer footer-company">
          <div class="bottom-menu">
            <div class="footer-block-header">
              <a href="company">КОМПАНИЯ</a>
            </div>
            <ul class="ul-footer">
              <li><a class="menu-link" href="company#o-kompanii">О компании</a></li>
              <li><a class="menu-link" href="company#rukovodstvo">Ценности</a></li>
              <li><a class="menu-link" href="company#nash-podhod">Команда</a></li>
              <li><a class="menu-link" href="company#novosti">Вакансии</a></li>
              <li><a class="menu-link" href="company#novosti">Отзывы</a></li>
              <li><a class="menu-link" href="company#novosti">Партнеры</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-2 col-footer">
          <div class="bottom-menu">
            <div class="footer-block-header">
              <a href="company">РЕШЕНИЯ И УСЛУГИ</a>
            </div>
            <ul class="ul-footer">
              <li><a class="menu-link" href="company#o-kompanii">Программные решения</a></li>
              <li><a class="menu-link" href="company#rukovodstvo">Телекоммуникации</a></li>
              <li><a class="menu-link" href="company#nash-podhod">ИТ-услуги</a></li>
              <li><a class="menu-link" href="company#novosti">Клиенты</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xxs col-md-1 col-sm-1 col-xs-1 col-footer ">
          <div class="bottom-menu">
            <div class="footer-block-header">
              <a href="company">КЕЙСЫ</a>
            </div>
            <ul class="ul-footer">
              <li><a class="menu-link" href="company#rukovodstvo">Разработки</a></li>
              <li><a class="menu-link" href="company#nash-podhod">Идеи</a></li>
              <li><a class="menu-link" href="company#rukovodstvo">Проекты</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xxs col-md-2 col-sm-2 col-xs-2 col-footer">
          <div class="bottom-menu">
            <div class="footer-block-header">
              <a href="company">ПРЕИМУЩЕСТВА</a>
            </div>
            <ul class="ul-footer">
              <li><a class="menu-link" href="company#o-kompanii">Сотрудники</a></li>
              <li><a class="menu-link" href="company#rukovodstvo">Стандарты</a></li>
              <li><a class="menu-link" href="company#nash-podhod">Бизнес-процессы</a></li>
              <li><a class="menu-link" href="company#novosti">Инновации</a></li>
              <li><a class="menu-link" href="company#novosti">Гарантии</a></li>
            </ul>
          </div>
        </div>
        <div class=" col-xxs col-md-1 col-sm-1 col-xs-1 col-footer">
          <div class="bottom-menu">
            <div class="footer-block-header">
              <a href="company">КОНТАКТЫ</a>
            </div>
            <ul class="ul-footer">
            </ul>
          </div>
        </div>

      </div>
      </div>
    </div>
    <h6>&copy; SiBEL/СиБЕЛ.2016</h6>
</div>
