
<ng-include src="'/views/partials/_slider.html'"></ng-include>

<div class="row block-default">
  <h4 class="rubric">ИТ — наше  призвание</h4>
  <div class="col-it-inf col-md-3 col-sm-3 col-xs-3">
    <img class="icons" src='../../images/icons/cogwheel.png'>
    <h4>Решения для бизнеса</h4>
    <p>Эфективное управление бизнес-процессами и минимизация человеческого фактора</p>
    <button class="form-control btn-blue secondBlock">Подробнее</button>
  </div>
  <div class="col-it-inf col-md-3 col-sm-3 col-xs-3">
    <img class="icons" src='../../images/icons/networking.png'>
    <h4>Телекомммуникации</h4>
    <p>Внедрение проектов и разработка программного обеспечения для операторов мобильной связи</p>
    <button class="form-control btn-blue secondBlock">Ознакомиться</button>
  </div>
  <div class="col-it-inf col-md-3 col-sm-3 col-xs-3">
    <img class="icons" src='../../images/icons/analysis.png'>
    <h4>ИТ-услуги</h4>
    <p>Создание и модернизация ИТ-инфроструктуры с последующим обслуживанием в режиме 24/7</p>
    <button class="form-control btn-blue secondBlock">Узнать детали</button>
  </div>
</div>
  <ng-include src="'/views/partials/_aboutCompany.html'"></ng-include>
  <ng-include src="'/views/partials/_ideasProjects.html'"></ng-include>
  <ng-include src="'/views/partials/_partnerList.html'"></ng-include>
  <ng-include src="'/views/partials/_questions.html'"></ng-include>




