
<ng-include src="'/views/partials/_slider.html'"></ng-include>

<div class="row block-default">
  <h4>ИТ — наше  призвание</h4>
  <div class="col-it-inf col-md-3 col-sm-3 col-xs-3">
    <img class="icons" src='../../images/icons/cogwheel.png'>
    <h5>Решения для бизнеса</h5>
    <button class="form-control btn-blue">Подробнее</button>
  </div>
  <div class="col-it-inf col-md-3 col-sm-3 col-xs-3">
    <img class="icons" src='../../images/icons/networking.png'>
    <h5>Телекомммуникации</h5>
    <button class="form-control btn-blue">Ознакомиться</button>
  </div>
  <div class="col-it-inf col-md-3 col-sm-3 col-xs-3">
    <img class="icons" src='../../images/icons/analysis.png'>
    <h5>ИТ-услуги</h5>
    <button class="form-control btn-blue">Узнать детали</button>
  </div>
</div>
  <ng-include src="'/views/partials/_aboutCompany.html'"></ng-include>
  <ng-include src="'/views/partials/_ideasProjects.html'"></ng-include>
  <ng-include src="'/views/partials/_partnerList.html'"></ng-include>
  <ng-include src="'/views/partials/_questions.html'"></ng-include>




